[2017-10-09 18:53] ErikOShaughnessy opened #437 "Add Apache Cassandra"
Could Apache Cassandra be added to a bundle please? I searched the repo and couldn't find it mentioned anywhere. I think big-data-basic might be a good fit for it, but obviously I'll be happy to have included where it makes sense.

Thanks!

[2017-11-21 12:19] tuxutku opened #436 "How i can get GL/gl.h and GL/glew.h"
I couldn't fınd a way to get opengl and glew development header fıles with bundles,How i can get them?

[2017-12-26 03:20] bswinnerton opened #1 "Adding GlusterFS bundle"
👋 Hi there Clear Linux team,

arjan_work from the #clearlinux IRC channel sent me over here to request adding GlusterFS as a bundle. I think it would be well suited for the [`storage-cluster`](https://github.com/clearlinux/clr-bundles/blob/92faefb0a1b6c21cc4e1019155c0065c2be87372/bundles/storage-cluster) bundle as an alternative to Ceph.

Here is a link to the tarball of the latest version: https:

[2017-12-31 00:20] Andy2244 opened #2 "missing locales and locale-gen?"
I'm getting some errors/warnings regarding missing locales like:
smbd `dos charset 'CP850' unavailable - using ASCII`
cockpit `invalid or unusable locale: en_DE.UTF-8`

I guess this could be solved via locale-gen, but its missing from clearlinux?

[2017-12-31 20:53] tuxutku opened #3 "SSL/TLS Certificates removed with version 20010"
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ ls -l /etc/ssl/certs
lrwxrwxrwx 1 root root 32 Oct 31 21:06 /etc/ssl/certs -> ../../var/cache/ca-certs/anchors
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ ls -l /var/cache/ca-certs/anchors
total 0
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ uname -a
Linux clr-449e9b2a44f8458bb4885604dc172a1c 4.14.7-497.native #2 SMP Mon Dec 18 12:51:57 UTC 20

[2017-12-31 22:12] tuxutku commented on #3
fixed with downloading http://curl.haxx.se/ca/cacert.pem and coping the cacert.pem as  ca-bundle.crt to /var/cache/ca-certs/anchors and /etc/pki/tls/certs
after that /var/cache/ca-certs/anchors/ca-bundle.crt and /etc/pki/tls/certs/ca-bundle.crt files should exist. that fixed my problem

[2018-01-01 12:05] tuxutku commented on #3
I should reopen this issue since i closed by accident

[2018-01-01 23:55] busykai commented on #3
@tuxutku, could you please try and re-run `sudo clrtrust generate`.

[2018-01-02 12:51] tuxutku commented on #3
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ sudo clrtrust generate
Password:
WARNING: file /usr/share/ca-certs/trusted/Hellenic_Academic_and_Research_Institutions_RootCA_2015.crt is not a certificate
WARNING: file /usr/share/ca-certs/trusted/LuxTrust_Global_Root_2.crt is not a certificate
WARNING: file /usr/share/ca-certs/trusted/COMODO_RSA_Certification_Authority.crt is not a certificate

[2018-01-02 15:06] busykai commented on #3
@tuxutku, could you post the content of any of the *.crt file here? the error means that running `openssl x509` fails on the certificates installed in `/usr/share/ca-certs/trusted`. i cannot reproduce this on my system.

after you do, please try running `sudo swupd verify --fix` (it should fix any deviatyions in your `/usr/` tree) and then try generating the trust store again with `sudo clrtrust g

[2018-01-02 19:20] tuxutku commented on #3
i can't run <pre>sudo swupd verify --fix</pre>
since i have manualy removed qt5 and other programs because of incompatible binaries, it will take my days to reinstall then remove these, and i will lose lots of my free time, i will try to find another way to fix this

[2018-01-02 19:26] bryteise commented on #3
@tuxutku So this is a little odd to do but you can try running:
[code]

[2018-01-02 22:04] busykai commented on #3
@tuxutku, we cannot reproduce the issue, so without your help it's hard to get to the root cause of this. it sounds like you manually modified files in `/usr`, i'm wondering if you could run:

`openssl x509 -in /usr/share/ca-certs/trusted/AffirmTrust_Networking.crt -noout -fingerprint -sha1`

to see if `openssl` on your system is still functional. if it's not, then that is the issue.

you can also

[2018-01-03 10:15] tuxutku commented on #3
when i was building another program it required openssl bu it wasn't installed, so i installed opessl to /usr/local. installation of openssl or update and reboot after that broke it.

when i will go to home i will look to this but now i am not at my home, after 6 to 10 hours i can be at my home

[2018-01-03 18:48] tuxutku commented on #3
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ openssl x509 -in /usr/share/ca-certs/trusted/AffirmTrust_Networking.crt -noout -fingerprint -sha1
SHA1 Fingerprint=29:36:21:02:8B:20:ED:02:F5:66:C5:32:D1:D6:ED:90:9F:45:00:2F
</pre>

<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ ls -l /usr/share/ca-certs/trusted
total 616
-rw-r--r-- 2 root root 2772 Jan 13  2017  ACCVRAIZ1.crt
-rw-r--r-- 2

[2018-01-05 16:27] tuxutku opened #4 "Need a cd dvd utility"
I need a cd/dvd utility like k3b, when trying to build k3b i find that most of the dependencies are from 2008-2005 and very hard to build, its will be really good if there will be a cd/dvd utility provided

[2018-01-07 06:55] sirredbeard opened #5 "spyder3 does not render correctly over X"
When logged into Clear Linux from an X client, running spyder3 does not render correctly.

Almost all GUI apps on Clear Linux render perfectly fine and incredibly fast over X.

**Steps to reproduce:**
1. Install games-dev, python-basic, and openssh-server bundles
2. Install spyder3 from terminal:
`sudo pip3 install spyder`
3. Run spyder3 from Gnome just to see that spyder3 is working
4. Enable X f

[2018-01-07 15:01] fenrus75 commented on #5
poking at this now (including adding spyder to clear linux)

has this worked elsewhere? ssh forwarding for 3D apps generally works
poorly so will see what is going on

On Sat, Jan 6, 2018 at 10:55 PM, Hayden <notifications@github.com> wrote:

[2018-01-07 15:23] sirredbeard commented on #5
Thank you.

X forwarding of spyder3 works well on Fedora and Devuan, previous distros I have used.

Does it need libgl1-mesa-glx or libgl1-mesa-swx11?

Thank you again for your assistance and your super fast Linux distro .

[2018-01-08 20:47] ahkok commented on #5
I can't reproduce. Several things to note:

it's `pip3 install spyder` that installs `spyder2`. `pip3 install spyder3` gives:
[code]

but `spider` works fine.

I used `spyder3` directly, as well as over X11 forwarded over ssh (through `ssh -Y localhost` in my case) and in both cases `spyder3` worked correctly.

[2018-01-08 21:06] sirredbeard commented on #5
@ahkok

You are correct about pip3 install spyder, I edited.

I tested with ssh -Y and that failed too.

Is there any way you can test it on two different machines, not through localhost?

Can I ask if you are using Intel or Nvidia video?

Thank you for your help.

[2018-01-08 21:52] ahkok commented on #5
Intel gfx in my case.

[2018-01-08 22:36] ahkok commented on #5
I can't quickly test from another machine, but the effect should be the same whether you ssh to localhost or somewhere far on the internet - the only difference is network lag.

does `minetest` work for you (games bundle)? That is a good test to see if OpenGL over X11 forwarding is fully functional. If you start a game, you can see in the window title what OpenGL version supported is, as well as g

[2018-01-08 23:10] sirredbeard commented on #5
One would like to think so but with X I think it really needs to be tested.

macOS X's client, XQuartz, is stable and open source. I have used this specific workflow with spyder3 over X from XQuartz on Ubuntu, Devuan, and Fedora, which leads me to believe it is not an XQuartz issue.

I am going to do some testing from other X clients, including from other ClearLinux.

[2018-01-08 23:38] sirredbeard opened #6 "Clear Linux kernel panics at boot in qemu on macOS results"
In researching [this issue](https://github.com/clearlinux/distribution/issues/5), I found this.

**Summary**

Booting Clear Linux in qemu on macOS results in a kernel panic on the Clear Linux guest.

**Steps to Reproduce**
1. Install qemu 2.11 via [Homebrew](https://github.com/Homebrew/brew)
2. Configure a hard drive
`$ qemu-img create clearlinux.qcow 5G`
3. Boot Clear Linux iso installer
`qemu-sy

[2018-01-09 00:16] sirredbeard commented on #5
Running minetest over X crashes with similar messages as spyder3.

[minetest crash log.txt](https://github.com/clearlinux/distribution/files/1613488/minetest.crash.log.txt)

I ran Clear Linux in VirtualBox on macOS and was able to successfully, on the second try, run spyder3 over X on my other Clear Linux machine.

Try 1:
<img width="829" alt="screen shot 2018-01-08 at 7 08 28 pm" src="https://use

[2018-01-09 00:20] fenrus75 commented on #6
which cpu is qemu trying to emulate?
normally I pass "-cpu host" as option

On Mon, Jan 8, 2018 at 3:38 PM, Hayden <notifications@github.com> wrote:

[2018-01-09 00:38] sirredbeard opened #7 "Disregard."
Disregard.

[2018-01-09 00:38] #7 closed

[2018-01-09 16:40] sirredbeard commented on #6
@fenrus75

I hadn’t specified a cpu, so it was defaulting to either qemu64 or base.

I tried with

`$ qemu-system-x86_64 -hda clearlinux.qcow -cdrom clear-20240-installer.iso -m 4000 -cpu core2duo`
`... -cpu qemu64`
`... -cpu base`

And got similar crashes.

**But**, you were correct, specifying something that matches the host works:

`...-cpu haswell`
`...-cpu max`

though worked well.

I am clos

[2018-01-09 16:40] #6 closed

[2018-01-09 18:41] ahkok commented on #5
The SSH client also comes into play, as it plays an important role in the X11 forwarding process. Since there is the ClearLinux ssh server and the MacOS ssh client, things could be wrong on either end (except it works clear-to-clear).

[2018-01-09 19:30] sirredbeard commented on #5
I would agree and generally close this bug, but for the fact X forwarding spyder3 to XQuartz works fine on other major Linux distros, including Fedora, Ubuntu, and Devuan.

Based on people who have reported similar error messages in other situations, I believe it’s an issue in the configuration of Mesa on Clear Linux. Unforuntately

These error messages seem to be a common problem when Mesa tries

[2018-01-09 19:44] sirredbeard commented on #5
I set export LIBGL_DEBUG=verbose

and

$ spyder3
libGL: OpenDriver: trying /usr/lib64/dri/tls/swrast_dri.so
libGL: OpenDriver: trying /usr/lib64/dri/swrast_dri.so
libGL: Can't open configuration file /home/elitebook/.drirc: No such file or directory.
SWR detected AVX
libGL: Can't open configuration file /home/elitebook/.drirc: No such file or directory.
libGL error: No matching fbConfigs or visual

[2018-01-09 20:08] fenrus75 commented on #5
if you install the "os-testsuite-phoronix" bundle you sort of get a
superset of all of things....

On Tue, Jan 9, 2018 at 11:44 AM, Hayden <notifications@github.com> wrote:

[2018-01-09 23:13] sirredbeard commented on #5
More attempted fixes through trial-and-error testing:

`$ sudo swupd bundle-add os-testsuite-phoronix`
`$ export LIBGL_ALWAYS_INDIRECT=true`
`$ export LIBGL_ALWAYS_SOFTWARE=true`
`$ export LIBGL_DRIVERS_PATH=/usr/lib64:/usr/lib32/dri:/usr/lib32:/usr/lib64/haswell`
`$ sudo chmod 777 /usr/lib64/dri/swrast_dri.so`
`$ export LIBGL_DRI3_DISABLE=true`

Modifying /usr/lib/python3.6/site-packages/spyder/a

[2018-01-10 18:33] ahkok commented on #4
Please describe the functionality you need from "cd/dvd utility". Do you need to read UFS DVD filesystems? Or play audio CDs? or burn data DVDs?

[2018-01-10 18:42] ahkok commented on #2
`en_DE` is pertinently incorrect though, there's no such thing as `german english`.

I'm not yet sure what needs to be done to be able to get more locales though, yet.

[2018-01-10 18:43] fenrus75 commented on #2
we also have the core bundle only have basic locales

and some other bundles adding the rest

we may need the "rest" to the samba bundles

On Wed, Jan 10, 2018 at 10:42 AM, ahkok <notifications@github.com> wrote:

[2018-01-10 18:48] Andy2244 commented on #2
Supposedly its fixed this way:
[fix](https://askubuntu.com/questions/710955/how-to-fix-en-de-utf-8-locales-warnings)

The problem is that from windows en_DE is valid, aka english language and german date/time format. The fix uses `locale-gen/localedef ` to generate and remap, which i cant find in clearlinux.

[2018-01-11 11:10] tuxutku commented on #4
I need to make k3b working for both cd and dvd, not including double layer dvd or blueray, i need to be able to rip audio and video cd and video dvd, also i need to be able to burn bootable disks, i allready installed cdrkit but not dvdauthor, i can read cd file system but not tested dvd yet

[2018-01-11 17:48] ahkok commented on #4
This is currently not a supported functionality, nor will it be

Bootable USB media have entirely replaced the need for optical media. This would be an ineffective use of our time.

You might get far using `xfburn` by the way, since most of the xfce4 stack is already packaged in the `xfce4-desktop`. You'll need to grab `libisofs` and `libburn` from https://dev.lovelyhq.com/libburnia/web/wikis/Rele

[2018-01-11 18:35] ahkok commented on #4
I will add `xfburn` to the `xfce4-desktop` bundle since it's trivial enough and a good basic start point. It should integrate reasonably with the gnome desktop as well, so hopefully that suits your needs.

[2018-01-11 20:07] ahkok commented on #4
Added xfburn. It will be in a future release, probably in a day or two. You'll need the `xfce4-desktop` bundle.

[2018-01-11 20:07] #4 closed

[2018-01-13 00:18] sirredbeard commented on #5
Closing for now.

[2018-01-13 00:18] #5 closed

[2018-01-13 10:34] tuxutku commented on #3
Issue still there after swupd update, certificates broken again:
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ sudo swupd update
swupd-client software update 3.14.3
   Copyright (C) 2012-2017 Intel Corporation

Update started.
Attempting to download version string to memory
Preparing to update from 20310 to 20320
Downloading packs...

Extracting os-core pack for version 20320
	...100%

Stati

[2018-01-13 10:40] tuxutku commented on #3
i am not applying the fix right now for possible debugging

[2018-01-13 18:35] tuxutku opened #8 "Heavy slow down in graphical applications"
When i was playing bombsquad, i have noticed frame drops (from stable 60 fps to 40 fps)
and happened on xonotic too (from benchmark, minimum fps was 48, now 24)
cpu and memory usage is minimal, same as before
while searching in the internet i have found https://security.stackexchange.com/questions/176624/how-do-i-check-if-kpti-is-enabled-on-linux/176654 but it didn't worked so i don't know if its

[2018-01-13 18:45] tuxutku commented on #8
doing it didn't affect anything

[2018-01-14 13:57] tuxutku commented on #3
I have applied the fix again now it works again

[2018-01-15 03:37] busykai commented on #3
@tuxutku, the trust store (the location where the certificates are stored) will be re-generated each time you update. since you installed/removed software from `/usr` (we highly discourage this practice because of exactly this type of consequences), `clrtrust` fails to generate the store properly. hence you will loose TLS connectivity after each update, unless you use the workaround i suggested.

[2018-01-16 15:08] tuxutku commented on #3
problem is that openssl wasn't installed by default and i had to install one to `/usr/local/bin`, problem is that installed version of openssl require `export LD_LIBRARY_PATH=/usr/local/lib:/usr/local/lib64`
to be runned first
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ command -v openssl
/usr/local/bin/openssl
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ openssl x509 -in /usr/share/ca-ce

[2018-01-16 15:24] tuxutku commented on #8
I can confirm the frame drops no matter which desktop environment i am using, i can't find any workarounds

[2018-01-16 16:51] tuxutku commented on #8
output of: `cat /proc/cpuinfo`
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ cat /proc/cpuinfo
processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 37
model name	: Intel(R) Core(TM) i3 CPU       M 380  @ 2.53GHz
stepping	: 5
microcode	: 0x4
cpu MHz		: 1294.824
cache size	: 3072 KB
physical id	: 0
siblings	: 4
core id		: 0
cpu cores	: 2
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_

[2018-01-16 18:34] tuxutku commented on #3
I have updated and rebooted but flatpak still works, i am not having this issue anymore

[2018-01-16 21:22] ahkok commented on #8
the `nopti` options appears to be the correct one, according to the sources. Try passing it as a boot option directly, and verifying that `/proc/cmdline` shows it is properly passed after booting.

[2018-01-16 22:40] busykai commented on #3
Glad it worked. It does seem that your store is being generated properly now. The issue seems to be that under `sudo`, `clrtrust` could not find a functional version of `openssl`. I have filed a couple of issues (clearlinux/clrtrust#10 and clearlinux/clrtrust#11) against `clrtrust` to handle such situations better. Thank you! I'm closing the issue.

[2018-01-17 11:35] tuxutku commented on #8
i don't know how i can pass `nopti` option as boot option, there is no such grub or something and i don't know where is the clr-boot-manager boot options where, can you explain me how to do:

[2018-01-17 11:43] tuxutku commented on #8
I have changed `pti=off` to `nopti` via these commands:
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ ls /etc/kernel/cmdline.d
my.conf
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ sudo su -c 'echo nopti > /etc/kernel/cmdline.d/my.conf; chmod 777 /etc/kernel/cmdline.d/my.conf'
Password:
</pre>
i will reboot and see the results

[2018-01-17 11:55] tuxutku commented on #8
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ cat /proc/cmdline
root=PARTUUID=4b6713b2-0264-4009-b7f0-2914031f51f8 quiet modprobe.blacklist=ccipciedrv,aalbus,aalrms,aalrmc console=tty0 console=ttyS0,115200n8 init=/usr/lib/systemd/systemd-bootchart initcall_debug tsc=reliable no_timer_check noreplace-smp kvm-intel.nested=1 rootfstype=ext4,btrfs,xfs intel_iommu=igfx_off cryptomgr.notests rcupd

[2018-01-17 13:41] tuxutku commented on #8
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ cat /proc/cmdline
root=PARTUUID=4b6713b2-0264-4009-b7f0-2914031f51f8 quiet modprobe.blacklist=ccipciedrv,aalbus,aalrms,aalrmc console=tty0 console=ttyS0,115200n8 init=/usr/lib/systemd/systemd-bootchart initcall_debug tsc=reliable no_timer_check noreplace-smp kvm-intel.nested=1 rootfstype=ext4,btrfs,xfs intel_iommu=igfx_off cryptomgr.notests rcupd

[2018-01-17 13:42] #3 closed

[2018-01-17 14:08] tuxutku commented on #8
I have uploaded https://drive.google.com/open?id=1jkQCTjTWcI6q8jb4X5UO_qqO1VT-N_BJ at 3 January 2018, so that eliminates the updates before  3 January 2018

[2018-01-17 14:28] fenrus75 commented on #8
after adding that file you need to run 'clr-boot-manager update' to have it
update the bootloader

On Wed, Jan 17, 2018 at 6:08 AM, tuxutku <notifications@github.com> wrote:

[2018-01-17 14:47] tuxutku commented on #8
i did runned the `clr-boot-manager update`

nopti didn't passed and i forget to run sudo clr-boot-manager update, i will rebbot and see the results

[2018-01-17 17:58] tuxutku commented on #8
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ cat /proc/cmdline
root=PARTUUID=4b6713b2-0264-4009-b7f0-2914031f51f8 quiet modprobe.blacklist=ccipciedrv,aalbus,aalrms,aalrmc console=tty0 console=ttyS0,115200n8 init=/usr/lib/systemd/systemd-bootchart initcall_debug tsc=reliable no_timer_check noreplace-smp kvm-intel.nested=1 rootfstype=ext4,btrfs,xfs intel_iommu=igfx_off cryptomgr.notests rcupd

[2018-01-17 19:17] ahkok commented on #8
If you're going to disable security precautions in your kernel, you are at risk of exposing yourself to the vulnerabilities that they protect against. We strongly advise against doing doing that.

[2018-01-17 19:21] ahkok commented on #8
Since your original issue was about passing a kernel commandline option, which seems resolved, I'm tempted to close this issue.

[2018-01-17 19:39] #8 closed

[2018-01-17 19:51] tuxutku opened #9 "Heavy frame drops in graphical applications"
I have uploaded videos to proof it:
Before slowdown:
Youtube: https://youtu.be/oA6yGPHFGrI , Google Drive: https://drive.google.com/open?id=1jkQCTjTWcI6q8jb4X5UO_qqO1VT-N_BJ
After slowdown:
Youtube: https://youtu.be/9QIlXvdvlIc , Google Drive: https://drive.google.com/open?id=1tCWHQysW8tBzqfu5DIDpksWLHJ7dDgry
The slow down is not about system and desktop environment but opengl applications
I have

[2018-01-17 19:59] tuxutku commented on #8
I have opened a new issue about frame drops in graphical applications: https://github.com/clearlinux/distribution/issues/9

[2018-01-18 17:07] tuxutku commented on #9
i have checked my system with spectre-meltdown-checker
results: [spectre-meltdown-results.txt](https://github.com/clearlinux/distribution/files/1643750/spectre-meltdown-results.txt)

script that i have used: [spectre-meltdown-checker.sh.txt](https://github.com/clearlinux/distribution/files/1643753/spectre-meltdown-checker.sh.txt) <---- rename to .sh file

[2018-01-19 13:16] tuxutku opened #10 "systemd[1]: gdm-hw-accel.service: Two services allocated..."
![img_20171203_164206](https://user-images.githubusercontent.com/24626743/33526051-aa1845f4-d84b-11e7-98e4-002416ff8a76.jpg)
systemd[1]: gdm-hw-accel.service: Two services allocated for the same bus name org.gnome.DisplayManager, refusing operation.
also login animation is gone (no blackout, directly to xfce loading screen)
This issue is still happening since Dec 3, 2017, i assumed that i need to

[2018-01-19 13:24] tuxutku commented on #9
After i installed the os, gnome desktop environment  was sluggish and caused heavy frame drops. Now xfce and gnome has the same frame rate but gnome is still sluggish. when #10 happened , animations in xfce was gone. also my ubuntu 17.04 installation suffers from low frame rates in applications and worse than this os, ubuntu 17.04 had intel graphics drivers installed and updated.

[2018-01-20 12:44] tuxutku commented on #9
Output of `LIBGL_DEBUG=verbose MESA_DEBUG=1 INTEL_DEBUG=perf  bombsquad`
<pre>
utku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ LIBGL_DEBUG=verbose MESA_DEBUG=1 INTEL_DEBUG=perf  bombsquad
BombSquad 1.4.128 build 14310.
libGL: Can't open configuration file /home/utku/.drirc: No such file or directory.
libGL: pci id for fd 6: 8086:0046, driver i965
libGL: OpenDriver: trying /usr/lib64/dri/tls/i965_dri

[2018-01-21 10:31] tuxutku commented on #9
i have updated to `20460` but problem still occurs
<pre>
suutku@clr-449e9b2a44f8458bb4885604dc172a1c ~ $ sudo swupd update
Password:
swupd-client software update 3.14.3
   Copyright (C) 2012-2017 Intel Corporation

Update started.
Attempting to download version string to memory
Preparing to update from 20340 to 20440
Downloading packs...

Extracting desktop pack for version 20370
    ...11%
Extrac

[2018-01-24 00:40] sirredbeard opened #11 "Clear Linux website intellectual property compliance"
The main Clear Linux uses Clear Linux*.

![screen shot 2018-01-23 at 7 14 41 pm](https://user-images.githubusercontent.com/33820650/35308168-404f599a-0074-11e8-8de0-ea3871e5a3fd.png)

This is ostensibly to provide proper attribution for the Linux trademark.

The * refers to this:

![screen shot 2018-01-23 at 7 15 21 pm](https://user-images.githubusercontent.com/33820650/35308187-551689de-0074-11e8

[2018-01-24 00:45] fenrus75 commented on #11
thank you for your report

we have worked closely with the LF on the trade mark things and we are ok.

[2018-01-24 00:45] #11 closed

[2018-01-30 14:17] tuxutku commented on #9
I have installed version 20570 to my third hdd and problem still occurs
I have installed Antergos and whatever i have done issue was still occurred
I have forked issue to intel community page and they at least **responded**

Intel community page: https://communities.intel.com/message/522012#522012
Antergos issue page : https://forum.antergos.com/topic/9008/intel-hd-graphics-is-slower-than-it-shoul

[2018-01-30 14:27] tuxutku opened #12 "Newly installed 20570 has poor graphics performance"
As continue of #9 i have tried to install version 20570 from scratch and i am still getting poor graphical performance, i have detailed information at #9 , [Antergos issue page](https://forum.antergos.com/topic/9008/intel-hd-graphics-is-slower-than-it-should-be?page=1) and [intel community page](https://communities.intel.com/message/522012#522012)

[2018-02-17 03:40] sirredbeard opened #13 "MacBook Pro 2015 Trackpad Driver Missing/Broken"
Issue:

Clear Linux lacks a driver for the MacBook Pro 2015 Trackpad.

Steps to Reproduce:

1. Install Clear Linux with desktop-autostart checked on a MacBook Pro 2015.
2. Restart.
3. Login.
4. Check if Trackpad works.

Expected Results:

Trackpad works. Pretty sure it's just a synaptics driver.

Actual Results:

No response from Trackpad.

[2018-02-17 03:48] fenrus75 commented on #13
google suggests this is the CONFIG_MOUSE_BCM5974 driver, wihch we did not
have turned on.

I'm turning this on now

On Fri, Feb 16, 2018 at 7:40 PM, Hayden <notifications@github.com> wrote:

[2018-02-17 03:58] fenrus75 commented on #13
one of the interesting things to maybe collect is "lsacpi" output
(but google is pretty firm on the BCM5974 thing)

On Fri, Feb 16, 2018 at 7:48 PM, Arjan van de Ven <arjanvandeven@gmail.com>
wrote:

[2018-02-18 03:02] sirredbeard commented on #13
Thank you. That appears correct. I did Google the issue but went down several inconclusive rabbit holes, my Google-fu must not be working.

[2018-02-18 03:02] #13 closed

[2018-02-23 09:24] gvancuts opened #14 "Allow 'swupd' to run without root access for simple operation"
Some operations such as `search`, `bundle-list` and possibly `check-update` should not need root access to be run. Today running those without root access returns an error:

[code]

[2018-02-23 09:40] gvancuts opened #15 "Unable to play videos with Gstreamer"
Playing videos using Gstreamer fails on Clearlinux (`Installed version: 20890`). I have tried using `gst-play-1.0`, `gst-launch-1.0 playbin uri=file:///` and all fail the same way. I'm using an mp4 file downloaded from the Open Movie Project (Sintel).

I have tracked this down to what looks like a `mutter` problem when using the `vaapisink` Gstreamer element. See more on my findings here: https://

[2018-02-23 13:52] fenrus75 commented on #15
does this also fail when using X? (our default env for now)

On Fri, Feb 23, 2018 at 1:40 AM, Geoffroy Van Cutsem <
notifications@github.com> wrote:

[2018-02-23 14:13] gvancuts commented on #15
I'm not sure what you mean by "using X". I _think_ it's running Wayland with Xwayland. The following environment variables are set:
[code]
This is a fresh installation of Clearlinux (from Wednesday - version 20920) and I just added the GUI option from the installer (don't recall exactly what it was called).

I have tried to change the `display` option of vaapisink to use X11 (option `1`) but that

[2018-02-23 14:13] fenrus75 commented on #15
My question was more about "without using wayland"

[2018-02-23 14:17] gvancuts commented on #15
I haven't tried that. Do you have a pointer on how I can switch to a native X11 environment?

Wayland is not the issue per se, it works fine if I use weston instead of mutter. I have tried that with weston running as a nested compositor or natively.

[2018-02-23 15:08] gvancuts commented on #15
Just rebooted using 'GNOME on Xorg' from the logging screen (so pure X11 env) and the `vaapisink` element behaves correctly there (tried both the `x11` and `glx` display option for `vaapisink` and both work).

[2018-02-23 16:44] fenrus75 commented on #15
ok that points us in a pretty narrow direction; thanks

[2018-02-23 18:01] ahkok commented on #14
This is not the correct location for this bug. Swupd has it's own github project and this issue should be moved, but github doesn't allow moving issues. Please reopen the issue here:

https://github.com/clearlinux/swupd-client/issues

[2018-02-23 18:01] #14 closed

[2018-02-23 18:02] ahkok commented on #14
FWIW, the reason it needs `root` privileges is because it needs to manipulate files in the spool folders. It's a known issue, and there is no good solution available.

[2018-02-23 18:04] ahkok commented on #12
This needs to be addressed in the relevant driver, kernel or mesa projects. Unfortunately, the clearlinux distribution can't be the owner of this issue. Please file issues in the relevant upstream projects instead.

[2018-02-23 18:04] #12 closed

[2018-02-23 18:04] ahkok commented on #9
Duplicate of #12

[2018-02-23 18:04] #9 closed

[2018-02-23 18:18] gvancuts commented on #14
Thanks @ahkok , I have filed https://github.com/clearlinux/swupd-client/issues/398 to track this.

It's not a high-priority item and thanks for explaining why it cannot be solved easily. I would consider this a low-priority feature request.

[2018-02-23 23:19] seanvk commented on #15
This issue is known https://bugzilla.gnome.org/show_bug.cgi?id=775698

Being addressed in the driver here:  https://github.com/intel/intel-vaapi-driver/issues/357
(I pinged the driver team to get someone assigned to it)

For the upcoming gstreamer release, vaapisink has been downgraded as marginal unfortunately.

commit c653cb55f9a97d1bf6d3fc1d0ae30dcd958174a5
Author: Víctor Manuel Jáquez Leal <vj

[2018-02-24 17:20] omkhar opened #16 "Missing OpenVPN client/server scripts for systemd"
While I was able to find the OpenVPN binary within Clear Linux, I was unable to determine the appropriate way to invoke OpenVPN in the server or client context during startup. Admittedly, I'm somewhat new to systemd based distributions, am I missing something obvious? How would I automatically invoke the server or client on boot?

[2018-02-24 19:07] ahkok opened #17 "Consider adding wireguard"
As an alternative to openvpn, wireguard seems interesting to consider including in one of the network basic bundles.

[2018-02-26 02:23] keelung-yang opened #18 "ISO installer failed: KeyError: 'getpwuid(): uid not found: 0'"
![virtualbox_clearos_26_02_2018_10_10_39](https://user-images.githubusercontent.com/20385450/36650437-76d6be20-1ade-11e8-9f61-b01c28be295b.png)

Both in version 20910 and 20940

[2018-02-26 05:46] ahkok commented on #18
@bryteise looks like more py2/3 issues from a quick glance.

[2018-02-26 07:30] cmarcelo opened #19 "Consider not including /usr/local and /usr/local/share directories as part of the OS"
Right now os-core includes these two directories with root:root ownership, which always reset any custom ownership for those directories ~~in every update~~ when using `verify --fix`. Given Clear Linux doesn't install anything on those, maybe just remove them from the Manifest.

Filesystem package creates those: https://github.com/clearlinux-pkgs/filesystem/blob/master/filesystem.spec#L157

[2018-02-26 07:31] cmarcelo commented on #19
One alternative is to use one of the swupd flags that create the directory but then doesn't touch it anymore.

[2018-02-26 08:26] ahkok commented on #19
`root.root` and `0755` permissions seems entirely correct ownership. I think you're trying to be inventive by putting non-root compiled software without `sudo` into `/usr/local`, but that doesn't seem like a safe thing to do, as `/usr/local` is part of the default shell path of every user on the system. You should probably therefore not do this.

I consider what you want to be a security concern,

[2018-02-26 08:52] cmarcelo commented on #19
Your explanation makes sense to me. I’ve ignored the fact that /usr/local was being picked up by default, and the security aspect of this default ownership. Thanks!

[2018-02-26 08:52] #19 closed

[2018-02-26 11:59] KollegaDe commented on #1
+1

[2018-02-26 12:03] KollegaDe opened #20 "Yum is actually broken (by pycurl)"
root@clr-d15baf6800524d96bcc2972ee02e815a ~ # yum
There was a problem importing one of the Python modules
required to run yum. The error leading to this problem was:

   No module named pycurl

Please install a package which provides this module, or
verify that the module is installed correctly.

It's possible that the above module doesn't match the
current version of Python, which is:
2.7.12 (def

[2018-02-26 17:06] gvancuts commented on #15
Thanks @seanvk !

[2018-02-26 18:15] KollegaDe commented on #20
Hash problems with some python files:

swupd verify
swupd-client software verify 3.14.7
   Copyright (C) 2012-2017 Intel Corporation

Verifying version 20960
Verifying files
        ...8%Hash mismatch for file: /usr/lib/python2.7/SocketServer.pyc
Hash mismatch for file: /usr/lib/python2.7/UserDict.pyc
Hash mismatch for file: /usr/lib/python2.7/__future__.pyc
Hash mismatch for file: /usr/lib/python

[2018-02-26 18:38] KollegaDe commented on #20
Works again after a

swupd bundle-add python-extras sysadmin-hostmgmt letsencrypt-client koji

No more bad hashes, pycurl reenabled, yum works, but wtf?

Looks like last week some legacy python dependencies were broken by some updates.

[2018-02-26 19:33] fenrus75 commented on #20
we had one release where yum broke... we added a test now for this to our
CI.

We also changed mixer to use DNF just before instead so we did not notice
in time.

On Mon, Feb 26, 2018 at 10:39 AM, KollegaDe <notifications@github.com>
wrote:

[2018-02-26 22:01] ahkok opened #21 "Use Amazon CDN with swupd in AWS AMIs"
There exist AWS specific CDN services for clear linux update content. These should be enabled by default in the AWS images.

[2018-02-27 07:31] KollegaDe commented on #20
Makes me wonder why swupd update alone wasn't a cure.

[2018-03-09 19:37] kasper3 opened #22 "dotnet core bundle"
Currently there is a way to download a pre-build .NET Core SDK 2.0 image and run various kinds of apps on Clear Linux dotnet/coreclr#9055

[code]

It would be super handy if it is provided out of the box via swupd.

End to end build from source is documented here: https://github.com/dotnet/source-build/blob/dev/release/2.1/Documentation/boostrap-new-os.md. Other distributions can be found at https

[2018-03-14 16:06] m-mora opened #434 "Latex Support"
Any plan to add Latex documentation bundle, that can include TexLive and a editor like TexMaker?

[2018-03-18 14:11] dzvyper opened #23 "Failure to install VBoxGuestAdditions in VirtualBox"
Hello All,

Trying to install the ClearLinux in VirtualBox however facing a constant issue with failure in installing VBoxGuestAdditions. Followed instructions in https://clearlinux.org/documentation/clear-linux/get-started/virtual-machine-install/virtualbox , however getting constant behavior specified here:

![clearlinux_vboxguestadditions_issue](https://user-images.githubusercontent.com/3750758

[2018-03-19 16:38] gvancuts opened #24 "ConnMan service fails to start"
The ConnMan service fails to start in Clear Linux (version 21400). This is on a bare-metal installation. I tried to start `connmand` manually but got the following error:
[code]

Here is the complete output of `journactl -b -x -u connman*`:
[code]

[2018-03-19 17:33] fenrus75 commented on #24
hmm I wonder why we have connman, since we ship systemd-network for
ethernet and NM for wifi

On Mon, Mar 19, 2018 at 9:38 AM, Geoffroy Van Cutsem <
notifications@github.com> wrote:

[2018-03-19 17:38] gvancuts commented on #24
I wondered about that too. All I know was that it was added recently and based on the message, this was done to <quote>Allow users to manually configure wifi devices at installation time by adding connman to the os-installer bundle</quote> - see https://lists.clearlinux.org/pipermail/dev/2018-January/001247.html

[2018-03-19 18:06] ahkok commented on #24
We've always had connman and it's cli is somewhat intuitive and easy to use, compared to nmcli where the man page "examples" doesn't even contain a section "connect to a wifi network" (for crying out loud), nmcli --help is useless, and you have to go down into `man nmcli` to the bottom 30 lines to see that the 15th example is a horribly overcomplexified way of connecting to a wifi network.

I am n

[2018-03-19 18:49] gvancuts commented on #24
Is NetworkManager considered a core components or rather something that got pulled when we added the GNOME desktop to Clear Linux? The reason I ask is we have always preferred ConnMan for OS that target embedded/IoT. The _proper_ solution you describe above changes that (and I can't help but see a different solution which would be to have GNOME be able to use ConnMan instead of NM... although I ha

[2018-03-19 18:59] fenrus75 commented on #24
gnome to use connman hasn't happened in the last 5+ years and is unlikely
to happen... NM is pretty well hard coded.

THere's no reason to not use NM for IOT tbh

On Mon, Mar 19, 2018 at 11:49 AM, Geoffroy Van Cutsem <
notifications@github.com> wrote:

[2018-03-19 19:09] gvancuts commented on #24
OK, that's kind of the response I expected.

OK, I haven't played with NM (beyond using it through the GNOME applet) so I really don't know much about its capabilities. ConnMan seems fairly well accepted in the Embedded/IoT space (inc. automotive) so I hope that NM provides (at least most of) the features they care for.

It would be good to document this at some point (and remove whatever is not n

[2018-03-21 17:52] seanvk opened #25 "wlan requires UseDomains in order for autoproxy to work"
reported by @rustylynch

When connecting to a wifi network behind a firewall the autoproxy is unable to resolve the PAC url because the 80-wlan.network configuration file is not enabling UseDomains=yes in the [DHCP] section.
Index: clr-systemd-config-149/network/80-wlan.network

--- clr-systemd-config-149.orig/network/80-wlan.network 2018-02-08 11:48:27.000000000 -0800
+++ clr-systemd-config-149/n

[2018-03-21 17:56] ahkok commented on #24
Before we throw out babies with bathwater, what's the output of the connmand daemon actually? It exits with -1, so there should be some major error messaging.

Please enable telemetry as well if you can, it will significantly help us spot issues and resolve them.

[2018-03-21 23:56] gvancuts commented on #24
Don't get me wrong, I'm not advocating to throw away any baby (nor even the bathwater for that matter). Without having done a thorough analysis of the situation, the most sensible thing to do for me would be to have NM for the GNOME desktop and ConnMan for Clearlinux images that are more geared towards embedded/IoT. Is there a way with bundles to have ConnMan by default and have it being replaced

[2018-03-22 00:05] fenrus75 commented on #24
can we at leas

On Wed, Mar 21, 2018 at 4:56 PM, Geoffroy Van Cutsem <
notifications@github.com> wrote:

[2018-03-22 00:05] fenrus75 commented on #24
can we at least talk about embedded and iot separately please? iot tends to
have a UI and full connectivity etc...

On Wed, Mar 21, 2018 at 5:05 PM, Arjan van de Ven <arjanvandeven@gmail.com>
wrote:

[2018-03-22 00:15] gvancuts commented on #24
That would be useful if we want to drill down to the next level as both terms mean different things to different people. I don't think it will fundamentally change the fact that we may need both though.

[2018-03-23 13:24] fenrus75 opened #26 "R packages do not seem to get stripped right"
7:47:01 PM	fenrus  -rwxr-xr-x  2 root root  83M Mar 17 04:20 rstanarm.so
7:47:09 PM	fenrus  (so huge since we ship 3 of these)
7:47:19 PM	fenrus   strip rstanarm.so
7:47:24 PM	fenrus  -rwxr-xr-x  2 root root 6.2M Mar 23 02:46 rstanarm.so
7:48:25 PM	fenrus  so we somehow we ain't stripping the paint of the R stuff
7:48:29 PM	fenrus  which makes it a bit big
7:51:43 PM	fenrus  # du -sh /usr/lib64/R/

[2018-03-23 18:46] kamsalisbury opened #27 "Azure OMS Agent Install Fails"
I know the root issue may not be clear linux but rather the OMS install agent, posting here for visibility.

Installed fresh Clear Linux Basic on Azure from available images.
Installed bundle cryptography
Executed Azure OMS agent install;
Checking host architecture ...
Extracting...
Updating OMS agent ...
----- Checking package: omsagent (omsagent-1.4.4-210.universal.x64) -----
----- Checking pack

[2018-03-23 18:48] fenrus75 commented on #27
hmm this is... unexpected. Clear Linux is not an RPM based distro.

We might need to put all these packages into our normal azure bundle though

On Fri, Mar 23, 2018 at 11:46 AM, Kam Salisbury <notifications@github.com>
wrote:

[2018-03-23 19:15] bryteise commented on #27
Uh I'm not sure what the OMS agent is. Looking at https://github.com/Microsoft/OMS-Agent-for-Linux I see it doesn't have support for Clear Linux so probably that's what is wrong. I'm not sure if the agent is supposed to be replacing functionality in the other [agent](https://github.com/Azure/WALinuxAgent) we have working for Clear Linux.

[2018-03-23 20:59] ahkok commented on #27
It would help a lot if @kamsalisbury could include a copy of the commands and download urls in the bug report so the folks in the clearlinux team could get a better idea of how to reproduce.

From a first glance at the project this is specifically only packaged for various other distros.

[2018-03-23 23:07] kamsalisbury commented on #27
Sure! (Sorry)
I also intend on filing a support case directly in Azure my next work day. From a use case context, it does not help (me, others) if a really slimmed down linux OS choice is available in Azure for deployment as a compute image and Azure wants to allow their product "OMS" https://azure.microsoft.com/en-us/services/log-analytics/ (a log aggregation GUI that does analytics and overlaps

[2018-03-26 18:19] pohly opened #28 "ceph-volume - No module named pkg_resources"
A fresh install of Clear Linux with the storage-cluster bundle had an unusable `ceph-volume` command. This can be reproduced with:
[code]

This still occurs after updating to 21510.

[2018-03-26 18:37] Wallacy opened #433 "ffmpeg"
Will be good add the ffmpeg (or a Transcoding bundle) as part of the project.

Today's we already have the Gstreamer. But some projects rely on ffmpeg to transcoding. And also, Intel has a good support for ffmpeg libraries.

https://software.intel.com/en-us/articles/accessing-intel-media-server-studio-for-linux-codecs-with-ffmpeg

https://www.intel.com/content/dam/www/public/us/en/documents/white-

[2018-03-26 19:13] ahkok commented on #28
even worse for me:

[code]

[2018-03-26 19:15] ahkok commented on #27
Wow, thanks for the incredibly detailed notes, that will really help.

[2018-03-26 19:16] fenrus75 commented on #28
we need to move this lot to python 3.
legacy python is going to keep giving issue like this

On Mon, Mar 26, 2018, 12:13 ahkok <notifications@github.com> wrote:

[2018-03-27 07:25] pohly opened #29 "add ceph-mgr to storage-cluster bundle"
http://docs.ceph.com/docs/master/install/manual-deployment/#manager-daemon-configuration says:
`On each node where you run a ceph-mon daemon, you should also set up a ceph-mgr daemon.`

But the ceph-mgr binary isn't available in any bundle. It probably belongs into storage-cluster, together with the rest of  the ceph binaries.

I can confirm that the lack of a manager leads to a warning:
[code]

I

[2018-03-27 08:17] pohly commented on #29
Adding a second ods did not help. Neither did lowering `osd pool default min size = 1`.

I don't know Ceph, therefore it would be nice to get some kind of HOWTO for setting up Ceph on Clear Linux.

[2018-03-27 18:31] kamsalisbury commented on #27
Update: I received a response from MS that the support case I submitted is probably not a support case and should be feedback instead.

I posted similar issues/feedback/etc at;
https://feedback.azure.com/forums/34192--general-feedback/suggestions/33771262-improve-oms-linux-agent-install
https://github.com/Microsoft/OMS-Agent-for-Linux/issues/679

[2018-03-28 08:24] K2 opened #30 "default install security configurations"
I re-read the website and it specifies this repository for issues.  Please see clearlinux/tallow#6 as it was default install in-box with clear at the time of filing.  @matthewrsj  ping.

As an option, consider default install with no services at all.

[2018-03-28 08:40] pohly opened #31 "ceph-volume: fails to run - no module named pkg_resources"
I'm now trying to get Ceph running on a single node by following
http://docs.ceph.com/docs/master/install/manual-deployment/

At the step where it shows how to invoke ceph-volume I'm running into
this issue:
[code]

Originally reported via email (https://lists.clearlinux.org/pipermail/dev/2018-March/001348.html). The suggestion there was to port the script to Python3. Note that there are probably

[2018-03-28 14:41] pohly opened #32 "clear-kvm: error message and incorrect "kernel update""
When booting into clear-21530-kvm.img.xz for the first time, I get:
[code]

Both the "Error opening" and the "A kernel update" message probably shouldn't be shown. Not a big issue, just cosmetic?

[2018-03-28 15:21] pohly opened #33 "compiling SPDK on target"
Please advice how on-target compilation of SPDK[1] should be done with Clear Linux. This is relevant for a "cloud cluster in a box" experiment with Clear Linux as bare metal OS where development of SPDK happens directly on the target device, i.e. developers will need to do quick edit-compile-run cycles.

The open issue is how it can be ensured that the Clear Linux installation has the necessary de

[2018-03-28 16:02] seanvk opened #34 "Logging into locked and sleeping Gnome session triggers segfault in libmutter : build 21530"
Mar 28 08:53:23 clr-ashland-svkelley kernel: gnome-shell[18710]: segfault at 38 ip 00007f49deabb1f1 sp 00007ffede20c610 error 4 in libmutter-1.so.0.0.0>
Mar 28 08:53:23 clr-ashland-svkelley evolution-alarm[18912]: Error reading events from display: Broken pipe
Mar 28 08:53:23 clr-ashland-svkelley kernel: rfkill: input handler enabled
Mar 28 08:53:23 clr-ashland-svkelley at-spi-bus-launcher[18720]:

[2018-03-28 16:03] seanvk commented on #34
What follows then is everything else getting killed:

[2018-03-28 16:05] seanvk commented on #34
All seemed to happen at precisely when I woke my desktop from sleep and attempted to unlock the display.

[2018-03-28 16:36] matthewrsj commented on #30
For now it has been removed from the `openssh-server` bundle so will not be on user systems (or default installs) when the next OS version is released. It will be added back when the issue is fixed.

[2018-03-28 16:54] ahkok commented on #30
Issue closed upstream, update posted to clearlinux as well.

[2018-03-28 16:54] #30 closed

[2018-03-28 16:56] ahkok commented on #30
FTR we put it back in the bundle as well, so there should not be a gap in between releases.

[2018-03-28 17:11] ahkok commented on #33
Adding `libiscsi-dev`to `storage-utils-dev` bundle. Probably doesn't resolve the issue but it should help.

[2018-03-28 17:47] ahkok commented on #32
The first one (bootchart) is somewhat serious, since that error indicates that `/run/log` isn't created fast enough in time. It's a significant error, but fixing would be potentially complex, since essentially the bootchart program is running too short for your VM.

The second message comes from the `motd` that gets autogenerated. No idea yet why it was created, but I'll look into it.

[2018-03-28 18:09] ahkok commented on #32
Spotted the culprit of the kernel update message.

clr-boot-manager-2.0.0-28 Should fix that problem.

I'm closing this for now. We can reopen the systemd-bootchart one later separately if it bothers people too much :).

[2018-03-28 18:09] #32 closed

[2018-03-28 18:18] ahkok commented on #25
This is debatable, and certainly not something I think we should add by default.

See https://www.freedesktop.org/software/systemd/man/systemd.network.html:

[code]

I think you would want to copy `80-wlan.network` to `/etc/systemd/network` and add the option there.

[2018-03-28 18:42] pohly commented on #33
I agree, this helps, please make that change. The underlying issue (installing arbitrary development files for on-target development) however remains.

[2018-03-28 19:18] ahkok commented on #33
actually, it turns out we have nothing in clearlinux that even needs libiscsi, except for udisks2. This is the reason that it's not in any other bundle, and that's a legitimate reason, so, the -dev bundle will get autogenerated without it again and my change gets clobbered out. We're looking at a way to solve that.

[2018-03-28 19:35] ahkok commented on #25
Closing wontfix because the fix is too risky.

[2018-03-28 20:27] icarus-sparry commented on #23
I believe the problem is that virtualbox guest additions wants to build an out of tree kernel module, which is not supported for the stock kernels that are shipped with clearlinux.

Can you confirm you are running the lts kernel (i.e. what is the output of `uname -a` ?)

[2018-03-28 20:41] rustylynch commented on #25
Note that the fix already landed so you will need to re-remove the change.

After this is removed, how would you recommend users identify a given wifi network as trusted so that autoproxy works?  Is is the expectation that the implementation of autoproxy needs to change?

[2018-03-28 22:13] bryteise commented on #31
The ceph package was updated to resolve this specific issue. Should be fixed in the next release.

[2018-03-29 07:51] dzvyper commented on #23
@icarus-sparry for your question I do use the LTS kernel (please see below):

![clearlinux 21390 lts snapshot](https://user-images.githubusercontent.com/37507581/38076661-f467af02-333e-11e8-9d20-bc3cca29592b.jpg)

As for assumption regarding the building and installation of the out-of-tree VBox kernel modules, I'm not quite sure, since if I follow the script install-vbox-lga that is found under /u

[2018-03-30 07:47] marziopulcini commented on #23
Hello, same issue here. I've tried to find a vboxsf.ko module in my installed kernels but I could not find it.
Please see below.
Looking forward to have the vboxsf support back in lts.
Thanks,
Marzio.

![virtualbox_clearlinux_30_03_2018_09_43_28](https://user-images.githubusercontent.com/6493671/38129372-17ac59a2-33ff-11e8-87da-b93551d7e629.png)

[2018-03-30 17:23] rustylynch opened #35 "Desktop fails to boot all the way into the gnome desktop"
I updated my dell xps 13 this morning and after rebooting my system boots into the console log-in and is unresponsive.   I tried booting my own customer kernel and see the same issue so assuming this wasn't caused by the kernel update.

I then booted off a usb key and edited my kernel's command line args to turn off i915 modesetting and i915 fastboot.  This enables me to actually log into the cons

[2018-03-30 17:52] cmarcelo commented on #35
Another data point: I have the same machine and same issue. I get to boot to console by using ALT-F3 (or 4) and move to a different tty.

[2018-03-30 17:53] rustylynch commented on #35
[journal-issue-35.log](https://github.com/clearlinux/distribution/files/1864337/journal-issue-35.log)

[2018-03-30 17:54] rustylynch commented on #35
one suspicious new entry:

systemd-udevd[254]: invalid key/value pair in file /usr/lib/udev/rules.d/61-gdm.rules on line 2, starting at character 175 ('[')

[2018-03-30 18:21] cmarcelo commented on #35
Removing the gdm rules doesn't help me here, so maybe unrelated.

As a workaround you can rollback (at your own risk) with: `swupd verify --fix -m 21530 --force`.

Also worth disabling auto updates until the issue is sorted: `swupd autoupdate --disable`.

[2018-03-30 18:22] cmarcelo commented on #35
(Forgot to mention: the rollback worked for me)

[2018-03-30 19:21] seanvk commented on #35
I've had this issue happen on releases at least twice, forcing me to make a rollback.

[2018-03-30 19:53] cmarcelo commented on #35
Arjan fixed the underlying issue (gnome-settings). Some upcoming release should have it.

[2018-03-30 20:19] seanvk commented on #35
Added a gdm test for desktop-autostart to catch this in the future.

[2018-03-30 20:20] ahkok commented on #35
Will post an update once i know which version includes the fix

[2018-03-30 20:25] ahkok commented on #35
gnome-settings-daemon 3.28.0-24 will be in 21580+

[2018-03-30 20:25] #35 closed

[2018-04-01 11:21] dzvyper commented on #23
@icarus-sparry Great. Thanks for the update and clarification.
We are waiting for the updated release. Please update us (me and @marziopulcini ) if you can the moment it will be available.

[2018-04-02 16:59] #31 closed

[2018-04-03 00:38] rustylynch opened #36 "Invalid LC_CTYPE"
With today's update I am seeing new bash shells complain about LC_TYPE via the following:
"bash: warning: setlocale: LC_CTYPE: cannot change locale (C.UTF-8)"

[2018-04-03 02:22] fenrus75 commented on #36
looks like something weird happened

I just added a BBT regression test for this case at least

On Mon, Apr 2, 2018 at 5:38 PM, Rusty Lynch <notifications@github.com>
wrote:

[2018-04-03 15:49] cmarcelo opened #37 "/usr/bin/scan-view fails because it uses invalid python syntax"
Clear 21530.

[code]

[code]

[2018-04-03 17:39] phmccarty commented on #36
I'm working on this.

[2018-04-05 21:07] rustylynch opened #38 "gnome-tweak-tool unable to successfully launch"
Attempting to start the gnome-tweak-tool from the gnome desktop results in nothing apparently happening.  Checking the process table I can see 'python3 /usr/bin/gnome-tweak-tool' is running, so after killing it and starting directly on the command line I can see:

 $ python3 /usr/bin/gnome-tweak-tool
Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/gtweak/widgets.py", li

[2018-04-05 21:27] rustylynch commented on #38
The problem is that the org.gnome.nautilus.gschema.xml file installed by the nautilus package has removed the desktop schema that the gnome-tweaks-tool requires.

[2018-04-05 21:34] mrkz commented on #38
@rustylynch Thanks for the report, I reverted the nautilus update, so gnome-tweak-tool is no longer broken while I look at the fix :-)

[2018-04-05 21:46] rustylynch commented on #38
actually... it might be better to pull in on patch from the upstream gnome-tweak-tool

https://gitlab.gnome.org/GNOME/gnome-tweaks/commit/1b7149f8f5f38726822439d6b9c960801ca9ecb2

[2018-04-05 21:46] rustylynch commented on #38
I can verify it works for me

[2018-04-06 00:31] phmccarty commented on #36
This issue was fixed in 21640.

[2018-04-06 02:00] fenrus75 commented on #38
Added a BBT test for this

On Thu, Apr 5, 2018 at 2:46 PM, Rusty Lynch <notifications@github.com>
wrote:

[2018-04-06 07:51] Andy2244 opened #39 "hyper-v "time synchronization" integration not working in hyper-v image (sleep/resume problem)?"
I noticed that even if i enable "time synchronization" in the hyper-v integration host options, after i wake my VM host from a sleep state, the date/time is not updated for the VM and the VM has the date/time from when the host was put into sleep mode. At some point the network time synchronization kicks in, but this often takes to long and leaves the system in a "bad" date state. So i have to man

[2018-04-06 15:26] mrkz commented on #38
@rustylynch I cherry-picked the patch you pointed out and verify it works, should be fixed in the following updates. Will close this bug once the fix is released

[2018-04-07 15:35] fenrus75 opened #40 "pacrunner leaks internal addresses in journal [security], also spews into telemetry"
Apr 07 15:34:24 clr-arjan-skl pacrunner[539]: pacrunner[539]: done 0x1482b30
Apr 07 15:34:24 clr-arjan-skl pacrunner[539]: done 0x1482b30
Apr 07 15:34:24 clr-arjan-skl pacrunner[539]: pacrunner[539]: done 0x14923d0
Apr 07 15:34:24 clr-arjan-skl pacrunner[539]: done 0x14923d0

[2018-04-09 13:04] dzvyper commented on #23
@icarus-sparry Do you have any update ?

[2018-04-09 16:57] #38 closed

[2018-04-09 18:39] ahkok commented on #40
pacrunner-0.13-40 will fix this by omitting the message.

[2018-04-09 18:39] #40 closed

[2018-04-09 18:39] #36 closed

[2018-04-09 19:22] montvid opened #41 "lspci, lsusb can't find Intel NUC7i3BNH usb 3.1 gen 2 controller"
I have a Intel nuc7i3bnh. It has usb-c usb 3.1 gen 2 and dp 1.2 support
but NO thunderbolt 3 as nuc7i5bnh or nuc7i7bnh have:
https://www.intel.com/content/www/us/en/products/boards-kits/nuc/kits/nuc7i3bnh.html

The problem is that clear linux (ubuntu and arch too) can't find the usb 3.1 gen 2 and dp 1.2
controller see log here:
https://paste.gnome.org/poiyhnh8n
Another person found a controller on

[2018-04-09 19:27] icarus-sparry commented on #23
It is in progress.

Kernel 4.16 added some, but not all, of the virtualbox support into the mainline kernel which has complicated the issue.

At the moment the plan is to add the rest of the code via patches to the main kernel we release and update the documentation to say to use the main kernel, rather than the lts kernel.

Sorry I don't have an ETA.

[2018-04-09 19:50] montvid commented on #41
lsacpi output of nuc7i3bnh on clear linux https://paste.gnome.org/pyjcrlqrn

[2018-04-09 19:59] mrkz commented on #41
Just in case paste of @montvid expires at some point:
[code]

[2018-04-10 11:51] montvid commented on #41
Okay, it seems usb 3.1 gen 2 controller is PCI hotpluggable so you can't see it until you plug in a device. Unfortunately I don't have a usb-c device so I can't know what is the controllers name it may seem. :/ It seems everything should work so I am closing this issue.

[2018-04-10 11:57] #41 closed

[2018-04-10 17:13] rustylynch opened #42 "gnome-shell flooding journal on each alt-tab"
Each time the user alt-tab's between windows on a Clear instance running the default gnome desktop, the following dump is made into the journal:
gnome-shell[838]: Object Shell.GenericContainer (0x3f19f40), has been already finalized. Impossible to get any property from it.
org.gnome.Shell.desktop[838]: == Stack trace for context 0x24e0330 ==
org.gnome.Shell.desktop[838]: #0      0x288da00 i   reso

[2018-04-10 17:16] rustylynch commented on #42
Note that this issue has been around for a while.  It just finally bugged me enough to report it.

A quick search yields potential culprits from upstream gnome shell that has yet to be closed:
https://gitlab.gnome.org/GNOME/gnome-shell/issues/1

[2018-04-10 20:55] rustylynch opened #43 "pk414-standard crashes on startup when booting from a USB key"
If you grab the latest live image, boot from it on a USB key, install the kernel-pk bundle, update the bootloader timeout so you can select the new kernel, and then reboot... then the boot will fail.

I am using a dell xps 13 laptop which doesn't have a serial port, so the best i can do is capture a picture of the kernel panic on the screen.  Normally there are multiple pages scrolling past quickl

[2018-04-10 20:56] rustylynch commented on #43
Note that the exact same kernel works fine when booting off my hard drive.

[2018-04-10 23:14] rustylynch commented on #43
Note that adding a rootwait to the kernel command-line works around this issue

[2018-04-11 01:00] fenrus75 commented on #43
We have a fix for this in our normal kernel... which apparently worked
great.
Any reason to not use the normal kernel on bare metal ?

On Tue, Apr 10, 2018 at 4:14 PM, Rusty Lynch <notifications@github.com>
wrote:

[2018-04-11 10:35] pohly commented on #28
Was fixed in the ceph packaging.

[2018-04-11 10:35] #28 closed

[2018-04-11 17:30] rustylynch commented on #43
I was attempting to exercise some hypervised use cases working off the tip of acrn and just wanted to ensure that the standard pk kernel was alive in kicking on bare metal first.

[2018-04-11 19:41] rustylynch commented on #43
Note that applying the native kernel fix to the top of the patch list, with a quick rebase to remove the offset warning, the pk-standard works fine on bare metal usb without the need for an explicit rootwait

[2018-04-15 01:11] sofar opened #44 "Dead links in documentation"
In: https://clearlinux.org/features/telemetry
To: http://www.intel.com/content/www/us/en/privacy/intel-privacy.html

In: https://clearlinux.org/documentation/clear-linux/tutorials/telemetry-backend
To: https://clearlinux.org/documentation/clear-linux/tutorials/telemetry-backend#id1

[2018-04-15 05:33] fenrus75 commented on #44
we also clearly need a dead link checker

On Sat, Apr 14, 2018 at 6:11 PM, sofar <notifications@github.com> wrote:

[2018-04-16 00:11] kchan345 opened #45 "Request: Add zram kernel module"
Hi,

zram in general can have quite a lot of useful applications. Usually it's used in machines with low memory, I use it personally as a ramdrive with compression for applications where disk IO is bottleneck such as on azure.

For compilation use cases I can achieve ~0.5 compression ratio with LZO. This makes it possible to compile some projects with > 10GB total uncompressed size on ramdrive in

[2018-04-16 00:33] fenrus75 commented on #45
yup good idea

just fixed the config, should be in tomorrows release

On Sun, Apr 15, 2018 at 5:11 PM, Kin <notifications@github.com> wrote:

[2018-04-16 00:33] fenrus75 commented on #45
thanks for your request

On Sun, Apr 15, 2018 at 5:33 PM, Arjan van de Ven <arjanvandeven@gmail.com>
wrote:

[2018-04-16 14:51] joselamego commented on #42
We have applied Marco Trevisan's patch [1] which avoids the noise at the logs. This patch should be reverted once the change is applied upstream and it soon will be available in a Clear Linux release.

[1] https://gitlab.gnome.org/3v1n0/gnome-shell/commit/e568b79874789a74f9c67c0d6e3f223a7e1e87e3

[2018-04-16 17:54] pixelgeek opened #46 "4 copies of Joes' Own Editor"
On a default install of Clear Linux, (version 21650 updated to version 21870) there appears to be 4 icons for Joe's Own Editor.  Would only expect one....

[2018-04-16 18:03] pixelgeek commented on #44
Links appear to work for me...

[2018-04-16 18:17] bwarden commented on #44
In both cases, the target link should be changed to
https://www.intel.com/content/www/us/en/privacy/intel-privacy-notice.html

[2018-04-17 17:31] joselamego commented on #42
This change is applied in release 21940

[2018-04-17 17:34] tpleavitt commented on #44
All changes have been merged

Features/telemetry
tutorials/telemetry-backend
guides/maint/telemetry-enable

should go live 4/17/18 pm

[2018-04-18 18:42] rustylynch commented on #46
Note that there are also two "Screenshot" icons in the Gnome Shell

[2018-04-18 18:50] rustylynch commented on #46
Ends up this is an issue with the text in the desktop icon getting truncated combined with the same icon used by three different "applications".

rusty@rustic /usr/share/applications $ grep -R "Own Editor" .
./jstar.desktop:Name=Joe's Own Editor - WordStar Emulation
./jpico.desktop:Name=Joe's Own Editor - NANO/PICO Emulation
./jmacs.desktop:Name=Joe's Own Editor - EMACS Emulation
./joe.desktop:Nam

[2018-04-18 18:53] rustylynch commented on #46
Also.... similar thing going on with Screenshot.  We install both a gnome and an xfce based screenshot app, but use identical icons and label text

[2018-04-18 19:10] #42 closed

[2018-04-18 22:07] cmarcelo opened #47 "Feature request: Add subversion to Clear Linux"
https://subversion.apache.org/

[2018-04-19 15:05] fenrus75 commented on #47
hmmmm.
didn't realize that this was still a thing (versus git svnimport)

On Wed, Apr 18, 2018 at 3:07 PM, Caio Marcelo de Oliveira Filho <
notifications@github.com> wrote:

[2018-04-19 15:50] omkhar opened #48 "Panic in i915 kernel module on boot"
Kernel 4.16.2-551.native running on baremetal

[    1.405712] ------------[ cut here ]------------
[    1.405713] RPM wakelock ref not held during HW access
[    1.405731] WARNING: CPU: 1 PID: 177 at ../drivers/gpu/drm/i915/intel_drv.h:1813 gen8_write32+0x1e7/0x240
[    1.405732] Modules linked in: nf_conntrack_ipv4 nf_defrag_ipv4 nf_nat_ipv4(+) nf_nat nf_conntrack ipt_REJECT iptable_filter iptabl

[2018-04-19 17:05] cmarcelo commented on #47
"git svn", in particular "git svn clone" does use svn perl bindings of the subversion libraries to work (so it is currently broken in Clear too).

[2018-04-19 17:12] cmarcelo commented on #46
Related upstream potential solution: https://gitlab.gnome.org/GNOME/gnome-shell/merge_requests/58

[2018-04-19 19:33] fenrus75 commented on #46
fixed the joe side of the issue

On Thu, Apr 19, 2018 at 10:12 AM, Caio Marcelo de Oliveira Filho <
notifications@github.com> wrote:

[2018-04-20 01:46] omkhar commented on #48
Just updated to 4.16.2-552.native, it's still there

[    1.407126] ------------[ cut here ]------------
[    1.407127] RPM wakelock ref not held during HW access
[    1.407146] WARNING: CPU: 1 PID: 209 at ../drivers/gpu/drm/i915/intel_drv.h:1813 gen8_write32+0x1e7/0x240
[    1.407147] Modules linked in: ipt_MASQUERADE nf_nat_masquerade_ipv4 xt_REDIRECT nf_nat_redirect xt_nat iptable_nat nf_conntr

[2018-04-20 01:55] ganeshmaharaj commented on #29
Newer versions of ceph have created another component, manager (mgr) which is mandatory. One of it's main functions is to maintain the health of the cluster. Including mgr as part of the packaging would definitely help here. Let me see if i can help out with that.

[2018-04-20 06:45] #44 closed

[2018-04-20 17:32] #47 closed

[2018-04-20 17:37] cmarcelo commented on #47
Thanks.

[2018-04-21 06:10] ahkok commented on #48
This is an old bug that we've been on and off tracking since over a year. We can't do much more than to note that this is an upstream kernel issue and the best way to report this is to the Intel Gfx Driver maintainers.

https://github.com/torvalds/linux/blob/master/MAINTAINERS#L7051

[2018-04-21 06:15] ahkok commented on #46
Only the xfce4-desktop bundle installs the xfce4 screenshot utility, so I'm OK with the duplicated icon and name, having both desktops is not a usual configuration.

[2018-04-21 06:15] #46 closed

[2018-04-21 06:36] ahkok commented on #25
Asking the user interactively whether a proxy should be trusted is likely always the wrong thing to do, because people will just click "yes, trust this proxy" without hesitation.

I can only imagine that a stronger level of trust needs to be used, such as checking an SSL certificate, but even that is problematic due to not having any way to verify that the original search domain given by the DHCP

[2018-04-22 19:59] omkhar commented on #48
And it seems to have disappeared with 4.16.3-553.native

[2018-04-23 08:05] kchan345 commented on #45
Hi Arjan,

I've been using zram with clearlinux about a day after it's in native
kernel - my intended usage is to use it on azure but I think it may be
useful in other kernel types as well.

Thanks for the quick turnaround!

On Fri, Apr 20, 2018 at 11:17 PM, ahkok <notifications@github.com> wrote:

[2018-04-23 16:20] cmarcelo opened #49 "gnome-shell complains about missing /usr/bin/haswell/Xwayland"
That prevented gnome-shell to work, so logging in with gdm would always failed. I've workarounded by linking /usr/bin/haswell/Xwayland to /usr/bin/Xwayland.

[2018-04-23 20:09] iphutch commented on #49
@mrkz could you please take a look at this bug?

[2018-04-23 20:10] iphutch commented on #45
@miguelinux please see if this can be added to the Cloud kernels

[2018-04-23 20:13] iphutch commented on #39
@bwarden could you take a look to see if this is a Clear issue vs a hyper-v bug.

[2018-04-23 20:14] iphutch commented on #37
@mrkz could you please take a look here.

[2018-04-23 20:17] iphutch commented on #34
@seanvk is this still an issue? @mrkz could you please re-produce this issue?

[2018-04-23 20:31] iphutch commented on #23
@bwarden  any update?

[2018-04-23 20:47] bwarden commented on #23
VBoxGuestAdditions should be back in linux-lts as of Clear Linux release 21860, right @miguelinux?

[2018-04-23 21:14] bwarden commented on #39
From what I can see, everything _should_ be in place. Please make sure you've installed the os-cloudguest-azure bundle for the userspace utilities, and follow this guide to verify that the kernel modules are installed properly:
https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/manage/manage-hyper-v-integration-services#start-and-stop-an-integration-service-from-a-linux-guest

[2018-04-24 02:08] fenrus75 commented on #49
I think I fixed this; telemetry data so far is backing this up

On Mon, Apr 23, 2018 at 1:09 PM, Ianeta Hutchinson <notifications@github.com

[2018-04-24 19:10] rustylynch opened #50 "Wireless networking stops routing when dhcp lease is renewed"
I infrequently observe a scenario where my wireless network, setup and managed via NetworkManager using the default GNOME desktop, will fail to route any packets.  Everything appears to be normal (i.e. wifi icon shows the system is connected, ifconfig looks normal, etc), but attempting to ping anything fails (raw ip address or using fully qualified name.)

I can recover networking by restarting sy

[2018-04-24 19:52] montvid commented on #41
It seems Intel nuc7i3bnh has a thunderbolt 3 controller as well as i5, i7 but Intel is not advertising, not mentioning it in the specs.

02:00.0 PCI bridge [0604]: Intel Corporation JHL6340 Thunderbolt 3 Bridge (C step) [Alpine Ridge 2C 2016] [8086:15da] (rev 02)
02:01.0 PCI bridge [0604]: Intel Corporation JHL6340 Thunderbolt 3 Bridge (C step) [Alpine Ridge 2C 2016] [8086:15da] (rev 02)
02:02.0 P

[2018-04-24 20:50] bwarden commented on #39
lsusb is OK -- we actually build hv_utils into the kernel statically.

Looks like the services are running in the Clear Linux guest. The Get-Service step above applies to Windows guest VMs. Did you follow this section (from the Hyper-V manager) to ensure they're enabled on the host?

https://docs.microsoft.com/en-us/windows-server/virtualization/hyper-v/manage/manage-hyper-v-integration-services#t

[2018-04-24 21:11] bwarden commented on #39
You can also try "sudo journalctl | grep hv_" to see the status of the daemons.

[2018-04-25 01:53] rustylynch commented on #50
I just observed this again, and can confirm it happened when the dhcp lease expired.  Also I was wrong about my statement saying that the turning wireless off and then on again via the NetworkManager applet does not work around the issue.

[2018-04-25 08:31] Andy2244 commented on #39
@bwarden So the "Stopped  vmictimesync" is only used for windows guests? Yet in the documentation they don't actually provide which service/daemon is responsible for time/shutdown on the linux side?

Here is the journalctl and the date still lists the last shutdown time (1:14), while i typed this command at 10:18 CEST. So i only get a time update via NTP once it kicks in at its normal update inter

[2018-04-25 08:44] Andy2244 opened #51 "ipv6 and log spam (net-pf-10 2, proxy NDP)"
ipv6 is disabled via kernel parameter (hyperv kernel), so i get a lot of this spam in the logfiles, every second or so
clr: call_modprobe: net-pf-10 2
eth0: Cannot configure proxy NDP for interface: No such file or directory

Is there a way to stop this spam and keep ipv6 disabled? Its rather annoying, since filtering for "warnings and above" shows thousands of those entries per day.

The later se

[2018-04-25 10:57] Andy2244 commented on #39
I get the same behavior for ubuntu 17.10 on a different host, so it seems this is a general problem utilizing the LIS time service under linux.

I did dig a little deeper and going by this pdf for the latest [LIS](https://www.microsoft.com/en-us/download/details.aspx?id=55106) the hyperv Time-Service needs to-be properly configured to-be used as time source.

Going by the docs the timesource is in

[2018-04-25 14:04] omkhar commented on #48
Reopening as it seems to be happening again. I have opened a defect as directed with the Intel GFX team: https://bugs.freedesktop.org/show_bug.cgi?id=106237

[2018-04-25 14:51] omkhar opened #52 "Load Microcode updates in an early initrd"
Current microcode update occurs as part of the "normal" boot process through systemd. Most distributions load the microcode as part of an early initrd in order to ensure that microcode errata is applied as as possible in the boot process. Please revise this in the Clear Linux kernel.

[2018-04-25 17:11] bwarden commented on #39
Let me rephrase. In addition to checking on the host via "Get-VMIntegrationService", could you please try from the Hyper-V Manager GUI, under Settings for the VM, verifying that Time synchronization is checked under Integration Services? I know it _should_ be the same, but something's not right.

I've tried replicating this on my own system, and I left `date` running in a loop, then saved the VM y

[2018-04-25 20:25] Andy2244 commented on #39
@bwarden Yes the service is set enabled (checked) from the management gui. I also have a working NTP aka:
[code]
I just noticed something:

I'm not manually saveing the VM, i let the host windows system go into its normal sleep/suspend/hibernate state, while the VM is running and than just resume the host.

[2018-04-25 21:27] bwarden commented on #39
As an interesting data point, I setup chrony to track the PTP clock device exposed by LIS. This is merely a workaround, but it's less clunky than running an NTP client in a guest VM.

I put this in /etc/chrony.conf (which completely overrides the system defaults from /usr/share/defaults/chrony/chrony.conf):
`refclock PHC /dev/ptp0`

I disabled systemd-timesyncd (the SNTP client):
`systemctl mask -

[2018-04-25 21:57] bwarden commented on #39
You could also add this to chrony.conf to make it step immediately on errors larger than one second:
`makestep 1 -1`

I found [anecdotes like this](https://superuser.com/questions/1312335/why-doesnt-my-debian-hyper-v-guest-update-time-after-host-sleeping) from people with similar experiences, but I haven't found any official documentation. I would guess that it's just assumed you would suspend a g

[2018-04-26 08:16] Andy2244 commented on #39
@bwarden Thanks for looking into this issue, i could reproduce your fix and was apparently just missing the "makestep 1 -1" option to allow the large changes.
I now get:
[code]

I guess i will close this issue, since its a LIS/Hyperv specific "oddity".
I still think its strange that the shutdown LIS service transparently correctly handles host restart/shutdowns, without any manual interactions and

[2018-04-26 08:16] #39 closed

[2018-04-26 15:48] bwarden commented on #39
I left my host hibernated overnight, and with an error of 54409 seconds, chrony didn't believe the reference clock was accurate, so it didn't update. I'd recommend adding "trust" to the refclock statement so that chrony _always_ believes this clock.

[2018-04-29 19:33] dzvyper commented on #23
Just to update all. Tested the latest release 22160 with VirtualBox 5.2.4.
Looks working after installing the VBoxAdditions with install-vbox-lga, reboting and then restarting the whole VM.

![image](https://user-images.githubusercontent.com/37507581/39410200-e38fc882-4bfc-11e8-8a31-47caed7f4c37.png)

Thanks to @icarus-sparry and @miguelinux for taking care of the issue.

[2018-04-30 05:32] iphutch commented on #23
Excellent! Closing issue. Thanks everyone!

[2018-04-30 05:32] #23 closed

[2018-04-30 06:11] unixbhaskar commented on #10
Turn off or disable gdm.service and try again. It's clashing with other display services.

[2018-04-30 06:16] unixbhaskar opened #53 "Wired issue with network"
Seeing this running swupd update

Oh btw I can go out to internet with no problem...but this damn thing is not going today....
`
swupd-client software update 3.15.5
   Copyright (C) 2012-2018 Intel Corporation

Error: Network issue, unable to proceed with update

Raw elapsed time stats:
251.2421        ms: Main Update

`

[2018-04-30 09:27] Venomtek commented on #53
Glad I'm not the only one.
When I curl https://download.clearlinux.org/update/ I get an error.

curl: (60) SSL certificate problem: certificate has expired
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could not
establish a secure connection to it. To learn more about this situation and
how to fix it, please visit the w

[2018-04-30 09:37] unixbhaskar commented on #53
Thanks for the heads up. But I prefer to wait , as I know to use the insecure stuff. I want Intel to fix the damn thing and let us do the thing normally. I can not take the risk of their stupidity.

[2018-04-30 10:11] Venomtek commented on #53
![image](https://user-images.githubusercontent.com/38853779/39422877-347f41ba-4c24-11e8-8d07-4c14c69188bd.png)

[2018-04-30 10:18] unixbhaskar commented on #53
@VictorRodriguez  Hey Victor, can you please check ...what is going on? It seems you, people, to generate new cert and bind with that subdomain. It's impacting the end users.

[2018-04-30 14:38] VictorRodriguez commented on #53
@unixbhaskar we are working on, as soon as we ( me and @bryteise ) has a solution , let you know :)

[2018-04-30 17:54] #53 closed

[2018-04-30 17:55] VictorRodriguez commented on #53
@unixbhaskar you should see this issue fixed now, thanks for the report and sorry for inconvenience

[2018-04-30 17:55] ahkok commented on #52
We avoid making an initrd for all scenarios and only use them when they are strictly needed. For this reason we're applying microcode later.

[2018-04-30 17:56] mrkz commented on #51
@Andy2244 this apparently was included since systemd v236, Clear Linux* currently ships systemd v234 but upgrading systemd is a WIP. (cc. @ahkok )

[2018-04-30 17:57] ahkok commented on #51
Ack, we're working on updating systemd all the way to v238. Big update, much slow.

[2018-04-30 18:06] miguelinux commented on #52
We load microdode by placing the binary inside the kernel as show in

https://github.com/clearlinux-pkgs/linux/blob/master/config#L1570

[2018-04-30 18:27] ahkok commented on #53
FTR, in case this happens again in the future, we don't want you to try and work around this type of issue, that would make you insecure. You were correct to say that this needed to be fixed on our end.

[2018-04-30 20:02] iphutch commented on #50
@mrkz

[2018-04-30 20:03] iphutch commented on #49
fixed

[2018-04-30 20:03] #49 closed

[2018-04-30 20:06] iphutch commented on #45
@bwarden

[2018-04-30 20:08] iphutch commented on #43
@bwarden could you coordinate with Saul on this?

[2018-04-30 20:10] iphutch commented on #29
@nesiusra

[2018-04-30 20:12] ganeshmaharaj commented on #29
@iphutch @nesiusra I am working on a patch for this and should be pushing it up to the mailing list shortly. Will comment here once that is done.

[2018-04-30 20:33] seanvk commented on #34
I can no longer reproduce this issue.

[2018-04-30 20:33] #34 closed

[2018-04-30 20:35] #25 closed

[2018-04-30 20:36] AthenasJimenez commented on #34
@iphutch This cannot be reproduced anymore, so it can be closed.

[2018-04-30 20:39] iphutch commented on #22
@nesiusra

[2018-04-30 20:40] iphutch commented on #18
This should be fixed now. Could you please test again @keelung-yang

[2018-04-30 20:42] iphutch commented on #17
@miguelinux @bwarden can you explore

[2018-04-30 20:45] Venomtek commented on #53
1up!

[2018-04-30 20:46] iphutch commented on #16
@ahkok

[2018-04-30 20:48] iphutch commented on #15
@gvancuts Is this still an issue? can I close?

[2018-04-30 20:49] iphutch commented on #10
@mrkz please work with @ahkok to remove conflicting units and replace with something wrapped.

[2018-04-30 20:52] iphutch commented on #2
@matthewrsj can you look into adding `localedef`

[2018-04-30 20:55] iphutch commented on #1
@nesiusra

[2018-04-30 20:58] matthewrsj commented on #2
`/usr/bin/localedef` is already provided by both the `c-basic` and `os-core-dev` bundles.

[2018-04-30 21:13] phmccarty commented on #2
@matthewrsj is correct. The `localedef` program is provided by two bundles, as discovered by running `sudo swupd search /usr/bin/localedef`.

@Andy2244 There are many locales you *can* define, but of out the box, the only defined locale is `en_US.UTF-8`. I recommend to define the locales you need using `localedef`, and set them using `localectl set-locale ...`

[2018-04-30 21:40] ahkok commented on #2
Is this something we need to include in a more logical bundle? like, `sysadmin-basic` ? Having it in `c-basic` and `os-core-dev` is missing the point I think

[2018-04-30 21:53] phmccarty commented on #2
Also, for reference, the available locale data from glibc are stored in `/usr/share/i18n/locales/`. You'll see that `en_DE` is not present, so trying to `localedef -i en_DE ...` does not work.

However, you are always free to create locale data for `en_DE`, and then define a new locale using that data:

1. Copy a locale data file from `/usr/share/i18n/locales` to use as a starting point for your n

[2018-04-30 22:03] Andy2244 commented on #2
yeah that's really "strange"

I never had this particular problem on any of the "big" linux distro, so something seems off regarding clear-linux.

[2018-04-30 22:12] matthewrsj commented on #2
@ahkok `localedef` is provided by `glibc`which is why it is in those particular bundles. Do we want to add `glibc` to `sysadmin-basic`? Seems like a weird fit. Maybe a new locale-focused bundle?

[2018-04-30 22:46] bwarden commented on #45
Which kernels should we add it to? It's currently enabled in native, linux-hyperv, linux-oracle, and linux-pk414.

[2018-04-30 22:49] bwarden commented on #43
@rustylynch Are we talking about 0125-init-wait-for-partition-and-retry-scan.patch?

[2018-04-30 23:25] bryteise commented on #2
Well it sits in glibc-locale currently (per the (spec)[https://github.com/clearlinux-pkgs/glibc/blob/master/glibc.spec]). It has a note mentioning spit on the section though. I'm pretty happy to add glibc-locale to sysadmin-basic. @phmccarty do you think opening an issue for localectl would make sense too?

[2018-04-30 23:27] miguelinux commented on #43
@bwarden yes,

Send a PR to PK

[2018-04-30 23:34] bwarden commented on #43
Do you think we should maintain it against linux-pk414 ourselves, or submit it to the upstream PK to be added to the master patch set?

[2018-04-30 23:45] rustylynch commented on #43
@bwarden yes, 0125-init-wait-for-partition-and-retry-scan.patch is the patch i tested

[2018-05-01 00:20] rustylynch opened #54 "A2DP fails with default GNOME desktop"
When using the default gnome desktop, two instances of pulseaudio end up being executed, one for gdm and the other for the active user.  This breaks bluetooth headsets from showing up as sinks.

Just attempting to killall pulseaudio will not work around the issue since both instances will immediately respawn, but you can demonstrate pulseaudio correctly working with the a2dp profile by:
* turning

[2018-05-01 11:43] Andy2244 commented on #2
Oki as noticed "en_DE.UTF-8" does not exist in the default linux world, strangely enough most distro's with a GUI setup, let me setup English language and German formats/time, similar to what Windows does.

So i just did `localedef -i en_DK -f UTF-8 en_DE.UTF-8`, since DK formats are similar and exists.

I'm closing this, since it seems linux in general deems it "strange" that this combination exi

[2018-05-01 11:43] #2 closed

[2018-05-01 12:37] miguelinux commented on #43
@rustylynch
Please try with 4.14.34-29 the patch is already integrated.

[2018-05-01 13:00] miguelinux commented on #52
We are following the 3rd method from
https://github.com/torvalds/linux/blob/master/Documentation/x86/microcode.txt#L107

And there said that

[2018-05-01 13:04] omkhar commented on #52
I am advocated method 1) which:

"1. Early load microcode
=======================

The kernel can update microcode very early during boot. Loading
microcode early can fix CPU issues before they are observed during kernel boot time."

Earlier in bring up the better, I believe. The other methods apply the microcode update later in the boot process.

[2018-05-01 14:02] unixbhaskar opened #55 "Can we please have i3 desktop bundle?"
I have requested it before, but it was on early stage. Kindly provide or consider the i3 desktop bundle. Not everyone is Gnome fan nor use Xfce(in spite of its lightweight nature and usefulness).

All I am trying to say, please try to provide that bundle.

[2018-05-01 14:45] rakuco opened #56 "dnf: UnicodeDecodeError when running `make build'"
I'm on version 22180, and `dnf` is failing whenever I run `make build` with a Clear Linux package.

For example, `cd`'ing to `packages/tmux` and running `make build' results in the following error after installing the package's build dependencies:

[code]

[2018-05-01 16:10] ahkok commented on #52
@miguelinux I don't understand whether that means that this bug is invalid, because we're loading microcode early enough to be effective, or not. That is the essence of my question.

[2018-05-01 16:11] Gabib32 commented on #56
@rakuco I actually ran into the same thing yesterday. Try running a 'make mockclean' and 'make mockproper' in the top level clear/ directory to clean up the cache

[2018-05-01 17:18] nesiusra commented on #52
We're going to stick with our current strategy until we receive real-world reports of it causing a problem.

[2018-05-01 18:07] ahkok commented on #55
After packaging a few dependencies, I'm running into a complete failure to build due to automake blowing up entirely. No idea how to actually fix the underlying breakage at this point.

[code]

[2018-05-01 18:09] ahkok commented on #55
@stapelberg you wouldn't have to have any idea, would you? The offending Makefile lines are obviously broken:

[code]

[2018-05-01 18:09] ahkok commented on #55
Happens either with `autoreconf -vif` or using `./configure &&` etc.

[2018-05-01 18:10] omkhar commented on #52
Couple of points:

1. The kernel module advises to load the microcode earlier (per dmesg):
[    1.395651] microcode: updated to revision 0x2a, date = 2018-01-18
[    1.397378] x86/CPU: CPU features have changed after loading microcode, but might not take effect.
[    1.397379] x86/CPU: Please consider either early loading through initrd/built-in or a potential BIOS update.
2. The advantages of the

[2018-05-01 18:13] ahkok commented on #55
Found: https://github.com/Airblader/i3/issues/145

[2018-05-01 18:33] ahkok commented on #45
kvm, aws, and hyper-v kernels could benefit from it.

[2018-05-01 20:51] stapelberg commented on #55
Haven’t run into this before. Might be worth bringing up on the automake mailing list? If it’s something we’re doing wrong in our usage of auto*, I’ll happily accept fixes.

[2018-05-01 21:08] ahkok commented on #55
@stapelberg I'm as confused here as the previous reporter, so that's probably worth doing.

[2018-05-01 21:10] rustylynch commented on #54
Note that I can work around this by creating a /var/lib/gdm/.config/pulse/client.conf that contains:
autospawn = no
daemon-binary = /bin/true

[2018-05-01 22:17] ganeshmaharaj commented on #29
Enabling ceph-mgr on luminous (12.2.5) while the default python is version 3.X ends up being a bit more complicated and us adding loads of patches to get things working. Mimic which has all the changes for python3 and can run all modules on python3.X is scheduled to be released end of the month.  It would be ideal to wait for that and upgrade the package to mimic.

@iphutch @nesiusra does this see

[2018-05-01 23:18] bwarden commented on #45
aws done; should be in the next release.

[2018-05-02 00:12] bwarden commented on #45
kvm done; should be in the next release.

[2018-05-02 00:30] nesiusra commented on #29
Sounds good.

[2018-05-02 08:47] rakuco commented on #56
Thanks, `make mockproper` did the trick for me. I'm leaving this open in case the Clear team wishes to address the underlying bug here.

[2018-05-02 13:41] omkhar commented on #48
The Intel GFX group provided some debug kernel params for additional diagnostics. The messages are supposed to be retrieved through dmesg.
As per the dmesg contained below, the time stamp starts at 0.190165 rather than 0. How do I get the missing dmesg (this is after a fresh reboot):

[    0.190165] pci_bus 0000:00: root bus resource [mem 0xdf800000-0xfeafffff window]
[    0.190168] pci_bus 0000:0

[2018-05-02 14:47] gvancuts commented on #15
Hi @iphutch , I haven't tested this lately, I will try to get to it by EOW.

Do you have reasons to believe that this is fixed?

[2018-05-02 15:34] gvancuts commented on #15
Mutter has been taken out of the equation (GNOME runs on X by default now)... so we're not hitting this issue anymore. I will close it.

[2018-05-02 15:34] #15 closed

[2018-05-02 16:44] mrkz commented on #54
@rustylynch yeah, apparently this is the default behavior from upstream gdm as I've seen some workaround now for [debian](https://wiki.debian.org/BluetoothUser/a2dp#Refused_to_switch_profile_to_a2dp_sink:_Not_connected) and [archlinux](https://aur.archlinux.org/packages/pulseaudio-bluetooth-a2dp-gdm-fix/).

Will check with upstream gdm folks for a proper solution. In the meantime, we can provide a

[2018-05-02 19:46] phmccarty commented on #2
`localedef` is now present in the `sysadmin-basic` bundle, along with all of the locale data from /usr/share/i18n/.

[2018-05-02 21:59] ahkok commented on #55
@unixbhaskar should be packaged up ready for testing as `desktop-i3`. In order for it to be useful, you probably need several other bundles though (`os-utils-gui` or `desktop`, probably)

[2018-05-02 22:34] unixbhaskar commented on #55
@ahkok  Thanks a bunch for the pain you and others took. Certainly, give it a shot and let you know if something uncanny come to my eyes.

[2018-05-03 15:42] unixbhaskar commented on #55
I could not find the i3 stuff on this page:  https://clearlinux.org/documentation/clear-linux/reference/bundles/available-bundles

Probably the package is not ready yet. Kindly let us know when it is available.

O btw, I have already these bundles in my system
`
root@ClearLinux_21:11:03_Thu May 03:~ # swupd bundle-list
swupd-client bundle list 3.16.0
   Copyright (C) 2012-2018 Intel Corporation

b

[2018-05-03 15:44] matthewrsj commented on #55
`desktop-i3` is not out yet. It will be available in the next OS release later this morning (or afternoon if this build doesn't make it out).

[2018-05-03 15:48] unixbhaskar commented on #55
@matthewrsj Awesome man!

[2018-05-03 15:58] matthewrsj commented on #55
Also, it should be noted that https://clearlinux.org/documentation/clear-linux/reference/bundles/available-bundles is very out of date. I opened an issue for that here: https://github.com/clearlinux/clear-linux-documentation/issues/126

[2018-05-03 17:50] rustylynch commented on #50
Note that am now seeing this multiple times a day, but not always on dhcp refresh.  If nobody else is seeing this then feel free to ask for some specific data to collect to help better understand what is happening.

[2018-05-03 18:04] mrkz commented on #50
@rustylynch heya,
I'm not really sure what would be causing this bug, nor how to proceed,

@ahkok, @bryteise  any idea?

[2018-05-03 19:16] cmarcelo opened #57 "Feature request: Add gputop to Clear Linux"
A GPU profiling tool.

https://github.com/rib/gputop

[2018-05-03 20:01] rustylynch commented on #50
well... for starters perhaps somebody has a better idea of what commands to run to see what is configured incorrectly when the bug is active.  So far I can say that 'route -n' and ifconfig return identical info before and after restarting systemd-networkd.

Also... other then arbitrary services complaining about network timeouts, there isn't a hint of anything wrong from journalctl.

[2018-05-03 23:36] bryteise commented on #50
Hrm do you see any changes to your /etc/resolv.conf between before and after restarting? Other things of interest may be under /run/systemd/netif (leases in particular given the dhcp trigger).

[2018-05-04 00:10] ahkok commented on #2
On 04/30/2018 03:12 PM, Matthew Johnson wrote:

It should probably be in `glibc-extras`.

localedef isn't a tool that *everyone* uses. But, it absolutely belongs
in a "administrate my basic system" bundle. So perhaps go with the
-extras and put that in sysadmin-basic.

Auke

[2018-05-04 00:54] rustylynch opened #58 "Wake from suspend failing with 4.16.6-563.native"
My Dell XPS is no longer able to successfully resume.  I see the power button light up, but the screen stays off.

From "journalctl -b -1" I see the following new errors:
May 03 17:46:17 rustic kernel: [drm:intel_power_domains_verify_state] *ERROR* power well DDI A/E IO power well state mismatch (refcount 1/enabled 0)
May 03 17:46:17 rustic kernel: [drm:intel_power_domains_verify_state] *ERROR* po

[2018-05-04 18:30] markgross commented on #58
Does it attempt to resume and crash or just sit there stuck in suspend until you hard press the power button for 10 sec?  (because that's what happens on my t470 until I run linux-stable vanilla kernels.  FWIW 4.16.7 resumes pretty well for me.)

[2018-05-04 18:37] rustylynch commented on #58
It looks like it turns off (all lights are off and screen is completely black) and then I press the power button to see the backlight for the button come on as well as the backlight behind the keyboard.  The screen lights up partially (only noticeable in a dark room), and then nothing.

Looking through the logs it appears the system never really shutdown.

[2018-05-04 20:42] ahkok commented on #55
There's a small fix coming for `i3status` but otherwise I think it's working correctly, so I'm closing this.

[2018-05-04 20:42] #55 closed

[2018-05-04 20:59] ahkok commented on #57
gputop's compilation also pulls in dependencies over HTTP, this isn't very friendly... this is going to cost some integration time. And yes we'd insist on an actual tagged release.

[2018-05-04 23:40] bwarden commented on #17
Investigating.

[2018-05-05 16:41] fenrus75 opened #59 "should add fwupd"
there's two projects called fwupd, we should add both

this allows you to update the bios and the like transparently

[2018-05-07 20:31] iphutch commented on #58
@miguelinux @bwarden

[2018-05-07 20:34] iphutch commented on #57
For now, this is incompatible with Clear Linux tooling. We will re-assess at a later time.

[2018-05-07 20:37] iphutch commented on #56
@phmccarty is this something the tooling can auto-detect and fix?

[2018-05-07 22:56] bwarden commented on #45
linux-hyperv-lts is now done; should be in the next release. Any others, or is this done?

[2018-05-07 23:07] #45 closed

[2018-05-08 14:30] TZRLYMY opened #60 "mixer tool:Extend mixer tool to support other linux distribution systems"
Is it possible to use the mixer tool to control system version of the centos 7? Or need to make some changes and customization?
Any suggestions?

[2018-05-08 14:31] ganeshmaharaj commented on #29
mimic got released a week ago and we have a patch now that should get ceph running in python3 with all the fittings. once we merge the patch we should be able to close this issue.

[2018-05-08 18:25] rustylynch commented on #54
After upgrading to Clear Linux version 22300, removing my workaround, and then rebooting, I can see A2DP is working as expected

[2018-05-08 18:25] #54 closed

[2018-05-08 20:03] phmccarty commented on #56
I will begin looking into this issue

[2018-05-09 18:04] omkhar commented on #48
*bump* maintainers are still looking for further information as to how to get earlier dmesg info.
As per the dmesg contained above, the time stamp starts at 0.190165 rather than 0.

[2018-05-09 18:10] bryteise commented on #48
That seems a bit odd I wonder with the debug options our dmesg buffer just isn't long enough. Do you normally see the dmesg output truncated without those options? (I don't have a system where this truncation happens)

[2018-05-09 23:57] rustylynch commented on #58
I had some spare cycles to debug this further.  The culprit is the try_load_dmc.patch.  I can rebuild the 4.16.7-567 linux package and if I remove this one patch then the issue goes away.

This patch was introduced since 4.16.5, which was the last working kernel I had before the upgrade that introduced the bug.

commit 367cfd96b0a277e062d5c841091c9a14cb352cb7
Author: Arjan van de Ven <arjan@linux.

[2018-05-10 17:50] rustylynch commented on #58
Another interesting fact... the offending patch just attempts to load the dmc firmware in the i915_dmc_info debugfs call, so I tried moving the firmware and then booting the offending kernel again.  I can see in dmsg both the original firmware load fail and the additional attempt when the i915_dmc_info file is read, but interestingly the original failure to suspend still happens.

So... just attem

[2018-05-10 22:02] cmarcelo opened #61 "Various fonts have "for Powerline" in their name"
Examples: Inconsolata, DejaVu and Ubuntu Mono. Not sure if this is by design or is unintended. Would be nice to have those fonts (with their non suffixed names).

[2018-05-11 22:04] ahkok commented on #60
off-topic. That should be a request in the `mixer-tools` repo, and not here.

https://github.com/clearlinux/mixer-tools

[2018-05-11 22:04] #60 closed

[2018-05-12 18:30] sofar opened #62 "No exfat support."
Attempting to use a 64gb SD card from my digital camera (which requires me to use exfat due to the FS size restrictions) results in an unreadable card in Clear Linux OS.

[2018-05-12 18:35] miguelinux commented on #62
Is fthe device

[2018-05-12 22:38] ganeshmaharaj commented on #29
ceph has been updated to mimic v13.1.0. Have verified that it can be built with all python3 and tested it to be working fine on clear. You can chose this bug. I believe build 22380 should have all the packages in place for ceph to work properly.

[2018-05-13 21:36] #29 closed

[2018-05-13 21:51] sofar commented on #62
Its a standard SD card., and I was using `mount` from the console.

[2018-05-13 22:46] denemegil opened #63 "Request: Add 8250 Fintek kernel module"
Hello,

We are using Clear Linux with mini-PCIe Fintek serial board for our project.

Really appreciate if you can consider adding 8250 Fintek support to the kernel especially given that current kernel does not support loading kernel module.

Best regards

[2018-05-13 23:06] fenrus75 commented on #63
do you happen to know which CONFIG option this is?

On Sun, May 13, 2018 at 3:46 PM, denemegil <notifications@github.com> wrote:

[2018-05-13 23:08] fenrus75 commented on #63
@@ -2764,7 +2764,7 @@ CONFIG_SERIAL_EARLYCON=y
 CONFIG_SERIAL_8250=y
 # CONFIG_SERIAL_8250_DEPRECATED_OPTIONS is not set
 CONFIG_SERIAL_8250_PNP=y
-# CONFIG_SERIAL_8250_FINTEK is not set
+CONFIG_SERIAL_8250_FINTEK=m
 CONFIG_SERIAL_8250_CONSOLE=y
 CONFIG_SERIAL_8250_DMA=y
 CONFIG_SERIAL_8250_PCI=y

building now

On Sun, May 13, 2018 at 4:06 PM, Arjan van de Ven <arjanvandeven@gmail.com>
wrote:

[2018-05-13 23:12] denemegil commented on #63
It is CONFIG_SERIAL_8250_FINTEK

[2018-05-13 23:16] denemegil commented on #63
I think it shall be
CONFIG_SERIAL_8250_FINTEK=y

[2018-05-13 23:34] fenrus75 commented on #63
fair enough; another kernel build pushed into the build system

On Sun, May 13, 2018 at 4:16 PM, denemegil <notifications@github.com> wrote:

[2018-05-14 20:04] iphutch commented on #61
@mrkz

[2018-05-14 20:19] matthewrsj commented on #61
I believe that is normal. In other distributions I have installed powerline-specific fonts and they always have powerline in their name. Here's a doc on installing powerline fonts. You'll notice "for Powerline" is in the names http://powerline.readthedocs.io/en/master/installation/linux.html

[2018-05-15 21:15] josuedhg commented on #10
as far as I know this issue is already fixed, isn't it?

[2018-05-15 21:37] #10 closed

[2018-05-15 23:46] FireballDWF opened #64 "Update boto package from 1.7.4 to 1.7.21"
Current boto3 package uses 1.7.4 from x while 1.7.21 is currently latest release. Need at least 1.7.10. pip install --user is an acceptable workaround until package in bundle upgraded.

[2018-05-15 23:49] FireballDWF opened #65 "kernel-aws needs ENA - Elastic Network Adapter"
The kernel in kernel-aws needs to be updated to include https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/enhanced-networking-ena.html#enhanced-networking-ena-linux then replace
https://aws.amazon.com/marketplace/pp/B075TXF7KJ with an AMI which includes the ENA enabled kernel-aws. This is required in order to be able to launch on C5 and M5 instance types.

[2018-05-16 00:00] ahkok commented on #65
@miguelinux

[2018-05-16 00:01] ahkok commented on #65
This is open for too long already...

[2018-05-16 00:16] ahkok commented on #65
Weird, I show this as being enabled in our AWS kernel since april 2016

[2018-05-16 02:13] phmccarty commented on #56
The issue appears to be related to DNF's handling of the root cache when there are newer RPMs available to "update" the ones extracted from the cache. This explains why a `make mockproper` is a solid workaround, because it removes the root cache (/var/cache/mock/clear/root_cache/cache.tar.gz).

Still investigating.

[2018-05-16 22:04] matthewrsj opened #66 "PAM authentication issues with vlock and i3lock"
The `vlock` package does not seem to work in Clear Linux. When invoking `vlock` it immediately starts spamming the following about every second or so, with no actual input from myself.
[code]

`i3lock` also fails. When initiating `i3lock` my screen is locked properly, but I am unable to unlock the screen. I can run `i3lock --debug` and get some more verbose output (after killing `i3lock` from anot

[2018-05-16 23:27] fenrus75 commented on #65
CONFIG_ENA_ETHERNET=y

(don't expect to see a .ko file, the driver is built into the kernel)

On Wed, May 16, 2018 at 4:24 PM, David Filiatrault <notifications@github.com

[2018-05-16 23:36] bryteise commented on #65
You can look in /usr/lib/modules/$kernelversion/modules.builtin to see what is enabled too.

[2018-05-17 03:17] FireballDWF commented on #65
Ok, by starting with your latest ami which has ena-enabled flag set, I was able to get it to launch on a c5.large.    Note, the version of driver used is 1.2.0k while 1.5.1 is now available per  https://github.com/amzn/amzn-drivers/blob/857b4b8d81a1b3ca2a4af29695acda57cabee9cc/kernel/linux/ena/RELEASENOTES.md

$ ethtool -i enp0s5
driver: ena
version: 1.2.0k
firmware-version:
expansion-rom-version:

[2018-05-17 03:17] #65 closed

[2018-05-17 22:43] mpurzynski opened #67 "Publish an identifier of a Clear Linux AMI"
To make it possible to verify that the AMI in AWS Marketplace comes from Intel, it is recommended to publish the AMI identifier.

Right now instructions shown here tell how to find the correct AMI that should come from Intel.
https://clearlinux.org/documentation/clear-linux/tutorials/aws-web

The problem with AWS Marketplace is, there are no security mechanism that would allow for verification if

[2018-05-17 23:50] mpurzynski opened #68 "Cannot login to any instance size other than a default one"
Hi!

Looks like something fails in the recent AMI's initialization process. I cannot login to an EC2 instance of ClearLinux if I choose any alternative size, rather than the default one.

I created a new instance "m5.large" and included a (correct) public key. Instance started, but I cannot login via SSH. I'm getting asked for a password.

ssh -lclear -i ~/.ssh/id_rsa_moco 34.219.98.38 -v

OpenSSH

[2018-05-17 23:54] bryteise commented on #68
@ahkok This makes me wonder a little more about https://github.com/clearlinux-pkgs/micro-config-drive/blob/master/f.patch because as far as I have been able to verify when doing the Oracle cloud work, the ssh-authorized-keys only works at the top level.

[2018-05-18 00:06] mpurzynski commented on #68
I detached the root volume from the affected instance and reattached it to another (working) instance, for inspection.
Looks like /home is empty and the clear user does not exist.

May 17 23:57:23 clr-ec23bcc34025d3061dbfd2d543062f48 sshd[167]: pam_unix(sshd:auth): check pass; user unknown

More details

journalctl -l | egrep ssh
May 17 23:44:41 clr-ec23bcc34025d3061dbfd2d543062f48 ssh-keygen[132]

[2018-05-18 00:10] mpurzynski commented on #68
Extracted the full journalctl -l

Let me know if you want it.

[2018-05-18 00:13] bryteise commented on #68
Ah seeing the logs for ucd-aws.service and ucd.service would probably be quite helpful.

[2018-05-18 00:53] mpurzynski commented on #68
[clearlinuxawsfails.txt](https://github.com/clearlinux/distribution/files/2015109/clearlinuxawsfails.txt)

Just in case, the entire thing.

[2018-05-18 00:55] mpurzynski commented on #68
Juicy pieces

May 17 23:44:40 clr-ec23bcc34025d3061dbfd2d543062f48 ucd[138]: [0.677478] disk: Device wiht label 'config-2' not found!
May 17 23:44:40 clr-ec23bcc34025d3061dbfd2d543062f48 ucd[138]: [0.677487] openstack: config drive was not found
May 17 23:44:40 clr-ec23bcc34025d3061dbfd2d543062f48 ucd[138]: [0.684092] Checking disk /dev/nvme0n1

(...)

May 17 23:44:48 clr-ec23bcc34025d3061dbfd2d54

[2018-05-21 20:35] ahkok commented on #68
`May 17 23:44:48 clr-ec23bcc34025d3061dbfd2d543062f48 ucd-aws[186]: parse_headers(): No such file or directory`

is the suspect line

[2018-05-21 20:36] ahkok commented on #68
@bryteise the last AWS instance I brought up used this format properly (`t2.micro`) so we know that works and isn't the cause.

[2018-05-22 04:20] m0nik3r opened #69 "Desktop hang & black screen when waking from suspend"
Hi I'm currently using clear linux as a bare metal OS for my laptop which has a i7-6500U.

When the system is suspended then woken, the screen stays black, and does not wake up, forcing me to power cycle the system.

When loading some sites that are slower to load, firefox will hang and then the system will hang a few seconds after, again forcing a power cycle. I've tried disabling addons and hard

[2018-05-22 15:56] quantan opened #70 "Add Android bundle for compiling Android rom"
It would be really appreciated if we can have an Android bundle for compiling Android rom.
Required packages: https://source.android.com/setup/build/initializing
Thank you!

[2018-05-22 16:58] ahkok commented on #70
The items listed on that page (java, git, python, clang etc.) are all present in clearlinux already. Is this a request for a specific bundle that just relists those same components, or are you missing components?

[2018-05-22 17:00] fenrus75 commented on #70
we can just make a bundle with the things we have... it's convenient for
that

On Tue, May 22, 2018 at 9:58 AM, ahkok <notifications@github.com> wrote:

[2018-05-23 06:41] quantan commented on #70
There are some missing components that I can't find from [current package list](https://download.clearlinux.org/current/x86_64/os/Packages/ like x11proto-core-dev), e.g. mingw32, tofrodos, xsltproc
Yeah this is a request for a specific bundle to set up Clear Linux as a server for building Android rom.

[2018-05-24 14:20] m-parashar opened #71 "Dropbox and Chrome/Chromium support"
Hi there. I deeply appreciate your work on this Linux distribution. Fast and efficient. Best GNOME experience on three laptops I have installed it on. Yes, bare metal.

Having Dropbox and Google Chrome/Chromium in the repos would be wonderful. I would suggest VS Code too, but there is a Flatpak available, so it's not a priority.

[2018-05-24 20:31] AthenasJimenez commented on #69
Hi m0nik3r,

It would be really helpful to know the release number you have now (if the issue persists). You can check it running: sudo swupd update -s.

Regarding to Firefox issue, would you mind to share a site as an example?

[2018-05-24 20:41] ahkok commented on #51
just a few more days now...

[2018-05-25 03:06] junxnone opened #72 "sshd service is inactive(dead)"
sshd has set enable, when the pc restart, sshd service is inactive(dead) , but i can use ssh connect to the clearlinux.

#systemctl status sshd
● sshd.service - OpenSSH server daemon
Loaded: loaded (/usr/lib/systemd/system/sshd.service; enabled; vendor preset: disabled)
Active: inactive (dead)

#ps aux|grep sshd
root 542 0.0 0.0 9000 5344 ? Ss 07:07 0:00 sshd: root@pts/0
root 657 0.0 0.0 4896 964

[2018-05-25 03:08] fenrus75 commented on #72
we use socket activation for ssh, so we start sshd only when someone
connects, to save on memory/etc when not in use

On Thu, May 24, 2018 at 8:06 PM, JunX <notifications@github.com> wrote:

[2018-05-25 03:17] junxnone opened #73 "How can i install the old version clearlinux"
Sometimes we need the stable version clearlinux to deply our project. So, we disable the autoupdate.
But the install image  always install the newest version clearlinux.
our workaround is dd the live image to our disk.
my question is : Is there any other way  to install the old version clearlinux?

Thanks

[2018-05-25 05:40] junxnone commented on #72
ok, so the  status is right, but it is confusing for the people that don't know this.
anyway , thanks for your answer.

[2018-05-25 05:40] #72 closed

[2018-05-25 06:43] junxnone commented on #73
yeah, it works. thanks a lot.
Actually , we meet a issue on the newer version clearlinux when run our apps:
it is about the python numpy lib. the apps works on the old version, but not in the newer version
this is the error log in newer verison clearlinux :
``
RuntimeError: FATAL: module compiled as little endian, but detected different endianness at runtime
ImportError: numpy.core.umath failed to

[2018-05-25 10:15] junxnone commented on #73
I get the clear linux version : 22340
behind this version , all get the Segmentation fault.
https://cdn.download.clearlinux.org/releases/22340/clear/RELEASENOTES

[2018-05-25 17:31] bryteise commented on #73
Are you getting the error in python2 or python3 for 'import numpy.core.umath'? I'm not seeing an error in 22340 or in latest (22600) on my system.

[2018-05-25 21:56] omkhar commented on #48
dmesg is still truncated - does yours begin at 0 and contain the kernel params?

[2018-05-25 22:15] bryteise commented on #48
[    0.000000] Linux version ... is the first line. The next line is the kernel command line in full.

[2018-05-26 14:55] bryteise commented on #48
Try adding log_buf_len=4M to the kernel command line. You can create a file in /etc/kernel/cmdline.d/logbuf.conf with that in it and then run sudo clr-boot-manager update.

[2018-05-26 15:08] bryteise commented on #68
Sadly I haven't gotten to look in AWS yet but ucd-aws is looking for the public key here:

169.254.169.254/latest/meta-data/public-keys/0/openssh-key

and the user configuration here:

169.254.169.254/latest/user-data

Both of these locations are documented in https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html so maybe the latest folder structure has changed for all the

[2018-05-26 18:06] fenrus75 commented on #73
(still puzzled on this, we run both numpy and scipy testsuites as part of our per-release QA)

[2018-05-26 23:38] sirredbeard opened #74 "Package Clear Linux for WSL"
Windows Subsystem for Linux is quickly becoming an entry point for new Linux users and developers. Right now WSL is dominated by Ubuntu, though OpenSUSE, SUSE Enterprise, Debian, and Kali are also available.

Notably, there is no RHEL or CentOS available officially for WSL. This represents a large opportunity for Clear Linux to gain market share among users interested in cloud, sever, and IoT tech

[2018-05-26 23:45] bryteise commented on #74
This is something on my radar and I'll probably get to start looking at it next week.

[2018-05-27 00:03] sirredbeard commented on #74
@bryteise? Really? That is very cool. It mostly seems to be a small Visual Studio C++ project, a .ico, and some certificates around a .tar.gz image. Let me know if there's anything I can do to help. I would be glad to side-load a beta test. Be sure to [reach out to the WSL team](https://github.com/Microsoft/WSL-DistroLauncher#publishing) to start the approval process.

[2018-05-27 01:40] sirredbeard commented on #74
[This test ](https://www.phoronix.com/scan.php?page=article&item=windows10-wsl-docker&num=3)would be interesting to see re-run with Clear Linux on WSL.

If performance improvements seen on bare metal and Docker hold true for WSL then Clear Linux would be twice as fast on WSL than Ubuntu now.

[2018-05-28 03:30] omkhar commented on #48
perfect

[2018-05-28 06:48] junxnone commented on #73
I also get no errors with ' import numpy.core.umath'. will ask the team if they can give an example to reproduce this issue.

[2018-05-29 05:44] tomByrer commented on #71
Chromium is OSS, project; there are many forks of it.  I'd hope of build specific for Clear would take advantage of the optimizations.

[2018-05-29 05:47] tomByrer commented on #61
Powerline is just a few extra gliphs to help with CLI & editor outputs:

https://powerline.readthedocs.io/en/latest/overview.html#screenshots

[2018-05-29 06:01] fenrus75 commented on #71
Chromium in some form we should be able to do; question is just one of time
and priorities

On Mon, May 28, 2018 at 10:44 PM, Tom Byrer <notifications@github.com>
wrote:

[2018-05-30 21:09] sirredbeard commented on #74
@VictorRodriguez

Unfortunately I/O still remains a bottleneck on WSL across the board.

But based on what I know about CLR and WSL, I think CLR could post significant gains in the WSL space over Ubuntu and openSUSE/SLES on three areas: compilation times, H.264 encoding, and MP3 encoding.

There were some surprising results on WSL showing some non-3D media encoding on WSL exceeded performance seen

[2018-05-30 21:11] sirredbeard commented on #74
Also, I tweeted about this [from my small Twitter account](https://twitter.com/unixterminal/status/1000532287065346048) followed by Linux geeks, it got picked up and got a lot of attention. The community is definitely interested.

[2018-05-31 13:33] VictorRodriguez commented on #74
Thanks, @sirredbeard, actually we are working these performance areas.

[2018-05-31 13:35] VictorRodriguez commented on #74
As soon as we have WSL with CLR we might write a blog about it

[2018-05-31 17:11] ahkok opened #75 "nginx pundle breaks webroot setup service"
apache and nginx share a webroot setup service that doesn't get installed when you install the nginx pundle. To rectify, the webroot setup unit needs to become its own rpm package so it gets pulled in as a dependency.

[2018-06-01 17:44] jerryrhyu opened #76 "The first terminal is not available after running two weeks with auto-update on"
platform: NUC, Swift Canyon 6th Gen i5 Intel NUC [NUC6i5SYH]
The initial version installed: 22290
The last version it was updated to: 22690
The extra bundle installed besides standard installation: containers-basic.

Leaving the system on for about 2~3 weeks, no workload is running. Docker daemon is on but no docker instance is running. The system is doing auto update/upgrade by default. Try to re

[2018-06-01 21:42] bryteise commented on #74
@sirredbeard Just a little update, I worked on this a bit but ran into some issues actually getting it running. Will hopefully be able to give it another go but may be a bit longer than I was hoping.

[2018-06-02 03:04] sirredbeard opened #77 "swupd is slow"
Installing bundles via swupd is very slow.

What is happening behind the scenes that takes so long?

Isn’t swupd just based on rpm?

[2018-06-02 03:18] matthewrsj commented on #77
Can you provide some more information?

How long does it take?
What does the output look like when it starts taking a long time?
What bundle?
Can you do another bundle add with '-t' flag supplied (and post the output)?

Also what is the output of 'swupd info' and what is your geolocation (generally)?

Sorry for the poor formatting, I'm on mobile.

[2018-06-02 03:32] sirredbeard commented on #77
I would be glad to. I hope my original comment does not seem too hostile or flippant. I just wanted to find out more.

I am a distro-hopper and have worked with most Linux distros. swupd feels, to me, significantly slower compared to apt, yum, dnf, zupper, eopkg.

It just seems odd such a fast distro would have such a sluggish package manager.

It is in general and applies across bundles at all ti

[2018-06-02 03:47] sirredbeard opened #78 "Support Sierra EM7455 LTE card"
The Sierra EM7455 LTE is a common LTE card for Dell, Lenovo, and other laptops.

I have one in my Thinkpad 470s.

It is supported in kernel 4.7+ and by ModemManager.

However it does not appear in gnome after installing gnome-autostart.

Here is hardware information:

https://gist.github.com/sirredbeard/ac61ca6c762535736599dd0b08b2423c

[2018-06-02 03:57] sirredbeard opened #79 "Associate .zip files with Archive Manager"
When opening .zip files the first time after installing gnome-autostart nautilus claims there is no application installed that can handle .zip files.

If you click through to see "other apps" though there is archive manager which handles .zip files perfectly.

.zip, .tar.gz, .tar, .rar, etc. files should be associated with archive manager when it is installed.

[2018-06-02 04:40] fenrus75 commented on #77
we've had reports that our CDN is slow; swupd is by design in theory a lot
more efficient than rpm based package managers and we do track download
sizes etc.

On Fri, Jun 1, 2018 at 8:32 PM, Hayden <notifications@github.com> wrote:

[2018-06-02 04:48] fenrus75 commented on #77
thanks for the data, part of it seems to be download time and part hash
checking time.

download time is a mix of size and CDN performance

we'll get some folks working on checking this from a few parts in the
world.. and there might just be a performance bug lurking as well..

On Fri, Jun 1, 2018 at 9:40 PM, Arjan van de Ven <arjanvandeven@gmail.com>
wrote:

[2018-06-02 06:45] fenrus75 commented on #77
it's supposed to be like this

[code]

[2018-06-02 15:19] Andy2244 opened #80 "mc: midnight commander missing user menu/defaults."
Hi, there seem to-be no defaults for the user-menu in MC.
I always used the defaults in ubuntu and think not having to create your own menu for simple tar/un-tar operations similar to other distros would be more user friendly.

[2018-06-02 15:40] fenrus75 commented on #80
thanks for your report; poking at it now.
I see what is going on, now considering how to fix it

On Sat, Jun 2, 2018 at 8:19 AM, Andy Walsh <notifications@github.com> wrote:

[2018-06-02 15:48] Andy2244 opened #81 "docker: some odd log warnings"
I get those two warnings over and over:
` level=warning msg="failed to retrieve docker-runc version: unknown output format: runc version 1.0.0-rc5\nspec: 1.0.0\n"`

`
level=warning msg="failed to retrieve docker-init version: exec: \"docker-init\": executable file not found in $PATH"`

The second one is caused since clearlinux ship's without a `docker-init`, is there a reason why?
Upgraded manuall

[2018-06-02 15:54] fenrus75 commented on #80
ok put a fix for this issue into the build system; it'll also fix a few
other things in mc that were equally not working right

On Sat, Jun 2, 2018 at 8:40 AM, Arjan van de Ven <arjanvandeven@gmail.com>
wrote:

[2018-06-02 16:00] Andy2244 commented on #80
cool thx this was fast :p

[2018-06-02 17:14] ch1x0r commented on #80
Yaaaaas! I <3 mc!  You rock!

[2018-06-02 19:39] ahkok commented on #77
It seems that in the pasted log output, that something unexpected occurred when you installed the `containers-basic` bundle, and `swupd` went into full `verify --fix` mode to recover the error and repair the system. This is an expensive and unusual operation that should normally not happen, and costs time because all the files on disk are being verified.

As to what is the actual cause of this pro

[2018-06-02 19:42] ahkok commented on #76
Try booting without `quiet` on the kernel command line.
Try checking if alternative vt's are available (alt-f2 etc)
Try booting with `init=/bin/bash`, do you get a root shell?
Does this system have the `desktop` or `desktop-autostart` bundles installed?
Does the server have ssh enabled? is it listening on any remote ports?

[2018-06-02 20:06] fenrus75 commented on #78
your logs show this is an "mbim" class modem; which we only had partially enabled

fixing now

[2018-06-04 16:11] matthewrsj commented on #77
Not at all, we love getting reports.

Well, you should keep a couple things in mind. First, you are doing a bundle-add, which brings in more than one package. The ansible bundle (https://download.clearlinux.org/update/22690/Manifest.ansible) pulls in quite a few dependencies. In Clear Linux we try to provide a complete functional use-case with our bundles, not just a single package. Keep in mind t

[2018-06-04 18:14] jerryrhyu commented on #76
I  had a check,  alf-f2 woks fine. The system seems work fine, network works. It seems only the first terminal is not available.
btw, I used auto installation, desktop and desktop-autostart bundles  are NOT installed. The ssh server is enabled. dmesg log is attached.
[dmesg.log](https://github.com/clearlinux/distribution/files/2069478/dmesg.log)

[2018-06-04 23:18] bwarden opened #82 "Lots of delta warnings while upgrading from 22750 to 22780"
I received lots of "Couldn't use delta file" warnings while upgrading from 22750 to 22780 via swupd, although the update eventually succeeded. Here's the tail end of the dump from my scrollback buffer:

[code]

[2018-06-04 23:22] matthewrsj commented on #82
@tmarcu just changed delta creation logic, hopefully that isn't related to that. I'll note that I've done the same update and didn't see these errors.

[2018-06-04 23:40] bwarden commented on #82
I have linux-dev installed, which contains a very large number of files. It's an obvious outlier, if that helps.

[2018-06-05 18:11] cmarcelo commented on #82
I haven't verified all, but a random sampling show these "from" files are all pyc files, that AFAIK sometimes get modified now and then by the system (making hash mismatches). So mixer should be off the hook for that one. :-)

[2018-06-05 18:12] cmarcelo commented on #82
PS: I missed the original report here, thanks for linking :-)

[2018-06-05 18:38] cmarcelo opened #83 "swupd verify --fix doesn't fix certain /usr/share/icons files"
It says it fixed but didn't. I ran the commands below with the desktop running, but haven't tried without it running.

[code]

[2018-06-05 18:43] matthewrsj commented on #83
We are aware of this issue and are in the process of fixing it. It is a problem with the `fontconfig` package in Clear.

[2018-06-05 19:08] rustylynch commented on #69
Is your laptop using Intel graphics?

[2018-06-05 19:14] joselamego commented on #83
The change was acknowledged and pushed to the repository. It will be available in the next release cycle, meaning that the cache files will be no longer provided with the package, but re-created by a swupd-trigger event and the reported missing-file messages won't appear anymore.

[2018-06-05 19:20] m0nik3r commented on #69
Yes, very sorry for the late reply. I was using 22510 when both issues were present. I believe that when I downgraded to ~22230 or so the firefox-hang bug went away, but the system would still get stuck in suspension.

Downgrading further to 21700 fixed both of the issues for me.

An example for me (the larger issue) was when checking amazon order statuses

[2018-06-05 19:23] cmarcelo opened #84 "pyc files modified when running python with root"
This is a know problem but I couldn't find an issue to track it, so creating this one. I believe this issue was the cause of the error messages shown in #82.

Some useful information:
- Clear Linux fixes up the timestamp of the py files (hence the 2001-08-24) to encode some other data (I don't recall what exactly).
- pyc files store a timestamp of the py file in themselves (hence the md5sum change

[2018-06-05 19:39] rustylynch commented on #69
This could be a duplicate of:
https://github.com/clearlinux/distribution/issues/58

... which is caused by a patch to Intel graphics

[2018-06-06 11:57] pohly opened #85 "docs: verify integrity of image hash sums"
https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install#verify-the-integrity-of-the-clear-linux-image documents how to verify the integrity of the downloaded image file. What's missing is documentation on how to verify the integrity of the SHA512SUMS file.

The files are signed, so presumably some gpg invocation will do that. But what key needs to be trusted?

[2018-06-06 17:45] phmccarty commented on #85
I'm not sure where the actual documentation exists for this on clearlinux.org, but this blog post describes how to verify the SHA512SUMS file:

https://clearlinux.org/blogs/security-software-update-clear-linux-os-intel-architecture

[code]

[2018-06-06 18:52] pohly commented on #85
Patrick McCarty <notifications@github.com> writes:

The right place to document this IMHO is the link I had in my initial
description. That's also what the download directory links to.

Thanks, that does indeed explain it.

[2018-06-06 19:10] phmccarty commented on #85
I agree. I will prepare a PR to update the docs accordingly.

[2018-06-06 19:21] intelkevinputnam commented on #76
I can confirm that I see the same problem with fresh auto install of version 22690 with Intel® NUC Kit D54250WYK. After installation the system reboots to blank screen.

Manual install with desktop-autostart selected works as expected booting to GUI.

[2018-06-06 22:12] baryluk opened #86 "ISO images are very big after decompressing"
[code]

Sorry, but that doesn't make any sense.

It appears to me that there is a lot of very spare data or simply zeros. Anyhow, it just makes it unnecessarily big, cluttering temporary storage on disk, taking time to write to USB device or to DVD disc (and forget about putting it on CD-R), or verifying checksums.

From what I can see, it is probably `EFI/efiboot.img` or `images/rootfs.img` being

[2018-06-06 22:52] bryteise commented on #76
Do either of you have a serial tty on the system? If you create /etc/kernel/cmdline.d/tty.conf with "console=tty0" in it and run clr-boot-manager update and reboot do you happen to still see the same behavior?

[2018-06-07 05:07] alexjch commented on #86
This image was created mainly for virtualization platforms for any other use case the recommendation is to transfer clear-xxx-installer.img to USB stick. We would like to go back and improve this image, but there are other priorities on our list.

As far as size of the image a quick comparison:

Clear 22840: 964M
Ubuntu 18: 1.8G
Fedora 28: 1.7G

Additionally checksum verification should be perform

[2018-06-07 06:18] phmccarty commented on #84
I have looked into fixing these types of PYC issues in the past. There are some lingering issues, so I'm glad you filed this bug :-)

(Many technical details below, for those interested.)

The `clr-python-timestamp` program is run at the end of every rpm build, and it modifies the timestamp of every `.py` file in the rpm BUILDROOT tree to a value based on (a) the CRC of the file and (b) a fixed ti

[2018-06-07 06:19] phmccarty commented on #84
One of the big opens to close on is `.pyc` timestamp support in `bsdiff`. The `bspatch` program from the Clear Linux version of `bsdiff` does not have any understanding of setting mtime on the resulting file produced from applying a delta. For example, if a delta is applied to a `.py` file, the resulting file will have the correct hash, but an incorrect mtime (probably "current time"). Since the e

[2018-06-07 06:31] phmccarty commented on #84
For reference, here's a script that can output the embedded timestamps from `.pyc` files:

[code]

Usage:
[code]

[2018-06-07 06:35] cmarcelo commented on #84
Thanks for the details! I have two questions:

1. Why do we embed the CRC in the timestamp vs using source epoch?

2. In my example, the modified time of the py file seemed to be correct (2001...). Assuming that’s the case, why was the pyc regenerated? Is python looking at ctime instead of mtime?

[2018-06-07 07:00] phmccarty commented on #84
The SOURCE_DATE_EPOCH is a fixed timestamp to apply to all installed files, and because it changes every time you run autospec for a package, the timestamps for all the files will change, even if their content doesn't change.

So, instead we decided that the .py/.pyc timestamp should be based on the CRC of the .py files instead. We rely on the fact that when the mtime of the .py matches the embedd

[2018-06-07 07:08] cmarcelo commented on #84
Ah... I was assuming the pyc was good (but haven’t checked). Thanks.

As for the epoch, one idea would be selecting it based on the source files, but I guess that timestamp might not be reliable (or correctly available for all packages).

[2018-06-07 08:31] Andy2244 commented on #62
In the past i used this [method](https://github.com/dorimanx/exfat-nofuse) (dkms) to get exfat support, really wish MS would opensource it so it can get into the kernel. Its one of the only simple FS with >4gb file size support, that work well on linux, windows and mac.

[2018-06-07 09:31] fenrus75 commented on #84
Since swupd is not time stamp preserving we need something content based,
so on the device we can recreate the time stamp with the info we have....
the file content

On Thu, Jun 7, 2018 at 00:08 Caio Marcelo de Oliveira Filho <
notifications@github.com> wrote:

[2018-06-07 14:58] fenrus75 commented on #77
ok so I tihnk we have multiple problems

a user interface issue (no visibility in progress)

downloading takes long potentially (and does not overlap with other operations currently)

we download "too much" versus expectations
(this is a size statement)

on the 3rd element I have a python script to at least help us analyze where size is coming from; will work with @matthewrsj and co to get that sh

[2018-06-07 16:58] bryteise commented on #76
@ahkok will be fixing this pretty soon I am guessing. The work around would be to systemctl enable getty@tty1 though.

[2018-06-07 19:39] phmccarty commented on #85
I see the verification fail with openssl 1.1.0h on Arch Linux, and it succeeds with openssl 1.0.2o on Clear Linux. My guess is that it's an incompatibility between 1.0.x and 1.1.x :-(

[2018-06-07 20:17] phmccarty commented on #84
I examined the clr-rpm-config state a bit more, and it appears to be operating correctly after all. The order of operations is:

1. run clr-python-timestamp, setting mtimes for .py files
2. run brp-python-bytecompile, freshly creating .pyc files
3. set mtimes to SOURCE_DATE_EPOCH
4. run clr-python-timestamp again to undo SOURCE_DATE_EPOCH setting for .py files

I scanned the 22840 full chroot (cre

[2018-06-08 00:56] fenrus75 commented on #84
so we need to fix the python build and we take care of 90% ? that's doable.

[2018-06-08 17:30] rustylynch commented on #58
Release 22860 stopped applying the try_load_dmc.patch and as a result i915 based systems can successfully suspend

[2018-06-08 17:30] #58 closed

[2018-06-08 17:32] rustylynch commented on #69
The offending patch from #58 was removed with release 22860.  Try testing this again after updating to see if this was a dup

[2018-06-10 13:53] markgross opened #87 "Firefox will not play pandora.com stations."
Start Firefox
go to www.pandora.com
attempt to play a station
watch it sit there and spin forever.

[2018-06-11 16:54] nesiusra commented on #87
@mrkz - can you check this out?

[2018-06-11 17:03] nesiusra commented on #81
@bryteise @ahkok

[2018-06-11 17:03] nesiusra commented on #79
@mrkz  - can you look at this please?

[2018-06-11 17:04] nesiusra commented on #79
@AthenasJimenez  ...

[2018-06-11 20:02] ahkok commented on #87
Javascript console shows:

[code]

Seems a bug in the website to support firefox, or, failure to produce a comprehensible error message.

[2018-06-11 20:04] #86 closed

[2018-06-11 20:51] ahkok commented on #85
Why can't `sha512sum` be used instead? That should hopefully not be affected by openssl versions.

[2018-06-11 22:11] mrkz commented on #87
The [Firefox-Troubleshooting](https://help.pandora.com/s/article/Firefox-Troubleshooting-1519949297419?language=en_US) page from pandora.com asks for installing Flashplayer which we don't ship on Clear Linux*.

[2018-06-12 06:53] pohly commented on #85
`sha512sum` does get used to verify the integrity of the image. But to prevent attacks, one first has to verify the integrity of the checksum file. Otherwise an attacker could modify the image and then update the checksum file accordingly.

I'm not sure how important it is to have these signatures. But apparently they were considered important enough to set up something, so probably it is worth fi

[2018-06-12 17:42] ahkok commented on #83
the issue is similar with `fontconfig`, but this aws a problem with `gtk-icon-themes`.

[2018-06-12 17:43] ahkok commented on #83
You should currently see `/var/cache/icons` being populated with icon-theme.cache files, which is the deployed solution.

[2018-06-12 17:43] #83 closed

[2018-06-12 17:45] ahkok commented on #87
https://www.reddit.com/r/Pandora/comments/5zmpop/pandora_without_flash_html5player_on_your_pc/

seems pandora doesn't use flash, so that troubleshooting page is incorrect.

[2018-06-12 22:37] matthewrsj commented on #77
Ok, so some things have happened over the last several days. Some of this is distro policy and some is implementation changes

We no longer allow packages to be listed in bundles if there is a corresponding pundle. These must instead be listed as bundle includes. This allows file subtraction to occur in mixer and make individual bundles smaller and more modular overall. It also makes pack sizes sm

[2018-06-13 14:33] halars commented on #74
I have been happily running Clear Linux on the legacy WSL, for the last six months+ without any issues. So I am also looking forward to a proper release on the (new) WSL. :)

[2018-06-13 14:39] halars opened #88 "The Firefox bundle does not contain enough packages to run."
After installing the Firefox bundle (swupd bundle-add firefox), and running firefox, it complains:
XPCOMGlueLoad error for file /root/firefox/libmozgtk.so:
libgtk-3.so.0: cannot open shared object file: No such file or directory

And as reported, libgtk-3 is not included in the firefox bundle, and therefore not installed.
Other packages might be missing as well.

ver.: 22980

[2018-06-13 15:27] fenrus75 commented on #88
poking at this; a few deps were indeed missing;l it might take 2 rounds to
get this fixed if there's something very subtle

On Wed, Jun 13, 2018 at 7:39 AM Lars Hansson <notifications@github.com>
wrote:

[2018-06-13 18:16] cmarcelo opened #89 "Document legacy-kvm in the README-IMAGES.html"
https://download.clearlinux.org/image/README-IMAGES.html

[2018-06-13 18:39] alexjch commented on #89
Adding "clear-*-legacy-kvm.img.xz -- Image for booting in a simple VM using legacy BIOS, if using start_qemu.sh make sure to remove -bios parameter" to README-IMAGES.

[2018-06-13 19:51] phmccarty commented on #84
The koji and scons package .pyc issues have been resolved as of build 22990.

This issue can be closed.

[2018-06-13 19:53] phmccarty commented on #89
@alexjch Should we make the start_qemu.sh smarter so that users don't have to modify the script? Maybe we could add option parsing for it?

[2018-06-13 19:54] alexjch commented on #89
@phmccarty excellent Idea different issue. I will work on that though.

[2018-06-13 19:55] phmccarty commented on #59
These have been added, right?

https://github.com/clearlinux-pkgs/fwupd
https://github.com/clearlinux-pkgs/fwupdate

[2018-06-13 20:14] fenrus75 commented on #59
the pieces exist...

.. but they need to be made to work

On Wed, Jun 13, 2018 at 12:55 PM Patrick McCarty <notifications@github.com>
wrote:

[2018-06-13 22:28] mrkz commented on #87
@ahkok Looking at the Firefox Web Console (Ctrl+Shift+K) while selecting a station and click on the play button:

[2018-06-13 23:55] phmccarty commented on #66
PAM configuration files are not installed for either vlock or i3lock, so PAM falls back to `other`, which on Clear Linux will always log the authentication attempt (via `pam_warn`), and then deny access (via `pam_deny`). See `/usr/share/pam.d/other` for the config details.

To resolve these issues, we should have the vlock package install a `/usr/share/pam.d/vlock` file, and i3lock install a `/usr

[2018-06-14 02:37] fenrus75 commented on #66
i3lock fixed

On Wed, Jun 13, 2018 at 4:55 PM Patrick McCarty <notifications@github.com>
wrote:

[2018-06-14 03:42] ldmtwo opened #432 "Chrome?"
I've been trying to follow the instructions for creating a bundle to add RPMs, but I do not see the desired result at the end. I planned to install Chrome via .rpm. Could you guys update the documentation to specifically install RPMs?

As for the material I was reading, this did not seem to work and it's a bit confusing. Local bundles created via mixer cannot be installed  via "swupd bundle-add bu

[2018-06-14 03:52] phmccarty commented on #66
Thanks! I updated my last comment... there is no vlock package; vlock lives in "kbd".

[2018-06-14 17:14] m0nik3r commented on #69
It've updated to 23030, and everything seems to be working. Thank you!

[2018-06-14 17:14] #69 closed

[2018-06-14 20:45] gtkramer opened #90 "Add option to install with LTS kernel"
Clear has support for LTS kernels. Please add the ability to install Clear with the LTS kernel instead to switching after the install is complete.

[2018-06-14 22:52] mrkz commented on #87
Yup, apparently our Firefox is not capable of supporting MP3, ACC codecs. Probably this is the reason of not playing stations. Used https://html5test.com/ to verify.

Workaround would be to use other web browser such as chrome.

[2018-06-15 11:16] mythi opened #91 "docker refresh"
This issue covers three *suggestions* that all could be handled in one go:

1. Drop 0001-Automatic-Clear-Containers-runtime-detection.patch

The OCI runtime can be selected using ```--add-runtime```. Therefore, the patch isn't absolutely necessary and makes the change to kata-runtime more difficult. Also, see 2.)

2.  Add a patch that makes OCI runtime selection an env variable

It'd much easier t

[2018-06-15 14:45] dpotapov opened #92 "SquashFS support"
Hello,

I'd like to have smaller ClearLinux-based images to distribute them on USB sticks. Having a root filesystem on squashfs would be a perfect solution.

It seems the current kernel configuration missing it:

[code]

[2018-06-15 14:47] fenrus75 commented on #92
I've just turned this on; for the narrow request of the kernel change this
is done.

the broader "make squashfs work" is likely other items but I'd like to
request opening just new issues for other items that pop up to keep this
issue simple

On Fri, Jun 15, 2018 at 7:45 AM Daniel Potapov <notifications@github.com>
wrote:

[2018-06-15 14:54] dpotapov commented on #92
Awesome, thanks!

[2018-06-15 15:07] dpotapov commented on #89
Hi,
What is the difference between legacy-kvm and kvm? Is it only a matter of partitioning? If yes, can we have a single image with hybrid MBR-GPT ?

[2018-06-15 16:06] bryteise commented on #91
I would rather keep the patch since runc containers are not preferred for the distro due to security concerns. If we force the config to virt containers via environment then the lack of fallback when the hardware doesn't support kvm is ugly.

Happy to drop the overlay2 patch though.

[2018-06-15 16:07] bryteise commented on #81
Giving this over to @DnPlas

[2018-06-15 16:14] phmccarty commented on #66
The i3lock and vlock packages have been fixed in 23060. We can close this issue.

[2018-06-15 17:19] markgross commented on #87
is there a Howto on installing Chrome on a Clear I could try?

On Thu, Jun 14, 2018 at 3:52 PM Marcos Simental <notifications@github.com>
wrote:

--
create interesting things.

[2018-06-15 17:26] hunger opened #93 "X fails to start"
I added the desktop and desktop-autostart bundles and rebooted. The screen flickered a couple of times, but no UI showed up.

This is on a thinkpad T460s, which is machine based on skylake.

The Xorg.log.0 file can be found here: https://gist.github.com/hunger/1e4cd13827e71c6764c57585c0e4046b . Feel free to contact me if you need more information.

[2018-06-15 17:37] hunger opened #94 "Resume from suspend is not possible: Power button is ignored"
I have version 23070 installed on a thinkpad T460s (skylake) and running systemctl suspend does the suspend. The power button starts to slowly blink like it usually does during suspend.

Unfortunately the power button no longer turns on the machine. The blinking continues, there is no discernible disk activity or any other sign of the system having registered the wake-up attempt.

Pressing the pow

[2018-06-15 17:49] gtkramer opened #95 "python certifi does not use unified trust store"
python certifi ships /usr/lib/python{2.7,3.6}/site-packages/certifi/cacert.pem. It uses it's own trust store as opposed to the system trust store.  Any user-added certificates will not be trusted by python applications which use this library.

[2018-06-15 17:54] josuedhg commented on #93
Hi Tobias, I have a some questions, what release are u running? if did u do a swupd update what was the source release? what kind of kernel are u using? these questions in order to try to reproduce the issue.

Thank you in advance!

[2018-06-15 18:31] hunger commented on #93
Oh, sorry, I am using a bare-metal installation at version 23070. I installed using clear-23000-live.img.
The only bundle I have installed that looks kernel-related is kernel-native.

[2018-06-15 18:33] hunger commented on #94
I installed version 23000 of the live-image yesterday. The only kernel-related thing in swupd is kernel-native. Not sure about the kernel version, I have booted a different Linux flavor right now.

[2018-06-15 19:02] josuedhg commented on #93
just a couple of things, could u send the output of journalctl -u gdm.path? and check the existence of /dev/dri/ and its content, I thing I got a similar behavior, this is just to confirm that are the same issues

[2018-06-15 19:46] josuedhg commented on #93
also the journalctl -u gdm.service output please

[2018-06-15 19:58] DnPlas commented on #81
Hi @Andy2244 could you please tell me the following:
- Your Clear Linux version (in which version this warning appears)
- Your Docker version
- What command triggers this output?
Could you also post the output of $ sudo docker info?

[2018-06-16 06:33] hunger commented on #93
gdm.path is empty except for the usual "Systemd starts this" message

This is gdm.service starting from the last reboot:

-- Reboot --
Jun 15 16:14:38 clr-xxx systemd[1]: Starting GNOME Display Manager...
Jun 15 16:14:39 clr-xxx systemd[1]: Started GNOME Display Manager.
Jun 15 16:14:39 clr-xxx gdm[342]: GdmDisplay: display lasted 0.345658 seconds
Jun 15 16:14:41 clr-xxx gdm[342]: GdmDisplay: disp

[2018-06-16 06:46] hunger commented on #93
Just re-tested with 23090: Desktop comes up now. Thanks for your work!

[2018-06-16 06:47] hunger commented on #94
Just tested this again: The issue is still visible in 23090.

[2018-06-16 09:44] Andy2244 commented on #81
@DnPlas Sorry, seem the logs are already gone/rotated out. Probably because i still get thousands of: `kernel: clr: call_modprobe: net-pf-10   2` entries per day via the hyper-v kernel.
I have auto updates on so assume, i had the latest Clear Linux version/docker bins from 14 days ago.

I use cockpit/portainer to manage my system so maybe it was from those, since it sounds like some query info war

[2018-06-16 09:47] Andy2244 commented on #81
Oh just noticed here are the warnings again via journalctl -b
[code]

[2018-06-17 05:27] seanvk commented on #87
Clear just grabs the binary from Fedora and repackages it, presumably.  Firefox switched to an ffmpeg backend some years ago from gstreamer.  Fedora, either strips or disables ffmpeg in their build (1).  To get it to work, you need to install ffmpeg libs locally, which don't exist in Clear.  Pandora will not work for you unless you also install ffmpeg.  I feel you're pain @markgross.  I've not bui

[2018-06-17 07:01] Andy2244 opened #96 "SSL got broken by uninstalling remote-admin bundle?"
Here is how i broke my system, maybe someone can reproduce this or give me a hint how to fix it.

Starting point on a hyper-v kernel and 23090:
[code]

I did this to revert back a dockerd update to help diagnose a other issues.

`swupd verify -f -Y`
After that cockpit could not login anymore and gives `Wrong user name or password`, which is strange since the root user still exists and works via ss

[2018-06-18 09:50] pohly opened #97 "KVM image: not enough entropy"
I tried to run Docker (or more precisely, Kubernetes) on the clear-linux-kvm image under QEMU. I got it installed and running, but then noticed that docker would not come up after a reboot. Eventually I noticed that it only started once the kernel printed "kernel: random: crng init done". I've not straced the docker daemon, but this very much like looks like a case of not having enough entropy in

[2018-06-18 14:55] #18 closed

[2018-06-18 15:07] #66 closed

[2018-06-18 15:09] #77 closed

[2018-06-18 15:14] iphutch commented on #90
@dorileo

[2018-06-18 15:16] #92 closed

[2018-06-18 15:17] #93 closed, assigned to nobody

[2018-06-18 16:00] phmccarty commented on #56
I have not tracked down the root cause yet. Running `make mockproper` is still a solid workaround, so this can be considered lower priority.

[2018-06-18 17:32] DnPlas commented on #81
@Andy2244 as you said, Clear Linux is shipped without docker-init. I'm now working on the spec file to add it, that should solve the second warning. Regarding the first one, that's a known issue and as you saw with version 18.03.x, it is solved on such release (18). I'm looking for a workaround for that as Clear Containers, and soon Kata Containers, needs that Docker version.

[2018-06-18 17:52] ahkok commented on #73
I'm considering the original question answered. If the numpy issues persist, please open a separate issue.

[2018-06-18 17:52] #73 closed

[2018-06-18 17:55] bryteise commented on #48
@omkhar Still seeing this issue (and have you been able to get the log to show what you needed)?

[2018-06-18 17:58] bryteise commented on #26
This is still an issue.

[2018-06-18 17:59] bryteise commented on #51
Since the systemd update has happened is this still showing up for you @Andy2244?

[2018-06-18 18:01] bryteise commented on #52
I'll leave that decision to @miguelinux

[2018-06-18 18:01] #61 closed

[2018-06-18 18:02] bryteise commented on #78
@sirredbeard Is this working for you now?

[2018-06-18 18:42] ahkok commented on #96
I can't answer on the original issue, however:

This never resets local configuration data, if it exists. `swupd` will never delete files that are autogenerated or created by the user in `/etc` and `/var`.

You will have to delete the cockpit data from `/etc` or `/var` manually.

[2018-06-18 18:43] ahkok commented on #96
@matthewrsj can you take a look at why this bundle-remove possibly created issues?

[2018-06-18 18:53] matthewrsj commented on #96
I'm not able to reproduce the swupd issues with just some quick checks on my machine. @Andy2244 can you paste the output of `swupd info`?

[2018-06-18 19:03] bryteise commented on #96
@Andy2244 I'd guess that this may be fixed by running 'sudo clrtrust generate'.

[2018-06-18 19:29] puneetse opened #98 "Deprecate or update the hyperv-mini image"
It looks like the hyperv-mini image hasn't been updated in a while.  Can the mini image be combined and kernel patches merged?

https://github.com/clearlinux-pkgs/linux-hyperv
https://github.com/clearlinux-pkgs/linux-hyperv-mini

https://github.com/clearlinux/clr-bundles/blob/master/bundles/kernel-hyperv
https://github.com/clearlinux/clr-bundles/blob/master/bundles/kernel-hyperv-mini

The differen

[2018-06-18 19:37] ahkok commented on #95
Technically this is an upstream bug, then?

[2018-06-18 19:40] bryteise commented on #98
The bundle will just be going away, this is in progress.

[2018-06-18 21:28] sirredbeard commented on #78
Unfortunately it is not.

I am on 23110, but do not see my WLAN connection in Gnome Shell or Gnome Control Panel:

![screenshot from 2018-06-18 21-15-33](https://user-images.githubusercontent.com/33820650/41563205-8376cd7e-733e-11e8-880e-aeaf9a135a0a.png)

Diagnostic data:

https://gist.github.com/sirredbeard/e6940b5ee00b14f84cc2d6dfc9564a5d

Let me know what you need from me to debug.

[2018-06-18 21:36] bryteise commented on #78
Hrm does it start showing up if you modprobe cdc_mbim?

[2018-06-19 00:56] sirredbeard commented on #78
Sadly, no.

iconfig
https://gist.github.com/sirredbeard/db0135d7e0fe090fcb79359259768143

lsmod after your recommended command
https://gist.github.com/sirredbeard/f496c7c4ffb6ad1250f8baad6f9d421d

[2018-06-19 07:28] Andy2244 commented on #81
@DnPlas Thanks for looking into this, its just something minor i noticed.

[2018-06-19 07:28] #81 closed

[2018-06-19 07:51] Andy2244 opened #100 "cockpit (sysadmin-remote) cant login anymore ?"
I try to figure out why i can't login via cockpit anymore after i did a `swupd verify -f -Y` i did reinstall the bundle and reused all the old /etc files, settings.
In the web interface i simply get: `Wrong user name or password ` yet i'm 100% sure the root user and password is correct, since i can login via ssh just fine.

Here is what i get in the logs, maybe someone can help me out again?
[code

[2018-06-19 08:02] Andy2244 commented on #51
I don't see this one anymore.
`eth0: Cannot configure proxy NDP for interface: No such file or directory`

Yet the moment i start dockerd and some containers that use the internet i get those every 10 seconds or so, resulting in several 100 log entries per day.

[code]

I'm on the hyper-v kernel and i don't need ipv6 support, yet if i google for solution's they all try to disable the kernel module

[2018-06-19 08:05] Andy2244 commented on #80
I get this every time i type mc ?
sfs_init(): Warning: file /etc/mc/sfs.ini not found

[2018-06-19 08:15] Andy2244 commented on #39
@bwarden Just a quick followup, i had to add ntp servers also, since after 3+ days of having the vm suspended the clock would not forward again. Chrony seemed not to be able to use/find the refclock device for whatever reasons.

Here is my current config that seem to work for anyone having this issues.
`/etc/chrony.conf`
[code]

[2018-06-19 09:07] hunger opened #101 "os-core: sysusers.d configuration conflicts"
The os-core bundle installs two files in /usr/lib/sysusers.d: clear.conf and dbus.conf.

Running systemd-sysusers the following message:
`Two or more conflicting lines for messagebus configured, ignoring.`

The messagebus user is indeed defined in both files.

[2018-06-19 09:22] mythi commented on #91
@bryteise I'm not convinced the patch is justified just to check ```/dev/kvm``` is present. IMO, the runtime selection policy belongs outside the daemon.

I tested an alternative to do this without patching (using systemd-environment-generator):
[code]

with this, it's possible to:
[code]

additionally, user may override ```DOCKER_DEFAULT_RUNTIME``` in, e.g., ```/etc/systemd/system/docker.service.

[2018-06-19 13:18] dpotapov commented on #92
Just want to say that I've got squash fs mounted from the dracut-generated initramfs. Works as expected!

[2018-06-19 14:53] markgross commented on #87
Its good to know yet disappointing.  I don't want to be all whiney about it
and I don't want this thread to spiral into what I think Clear needs to be
used as as a dev-host laptop or desktop system beyond an ssh target with
tmux.

(but, I do have some thoughts on the matter that perhaps there is a better
forum for me to share those...)

On Sat, Jun 16, 2018 at 10:27 PM Sean V. Kelley <notification

[2018-06-19 17:01] ahkok commented on #101
Agreed, the `dbus.conf` file shouldn't be there to begin with.

[2018-06-19 17:13] ahkok commented on #101
Fixed by removing the dbus.conf file. Should be in a release within 24h.

[2018-06-19 17:13] #101 closed

[2018-06-19 17:20] ahkok commented on #97
Is the host clearlinux as well? We can certainly add the `-device virtio-rng-pci` flag to our `start_qemu.sh` script I think. @fenrus75 @bryteise

[2018-06-19 17:22] ahkok commented on #94
@mrkz I don't think we test suspend/resume, do we? Did we perhaps by chance disable the power button functionality?

@hunger does WoL work to bring the machine out of suspend?

[2018-06-19 17:29] ahkok commented on #89
The difference is that the `kvm` image only supports UEFI booting, and the `legacy-kvm` image only supports booting in legacy boot mode. We do not make a hybrid image.

[2018-06-19 17:39] bryteise commented on #97
Yea, that would make the most sense to me. @pohly Thanks for the report and guidenance on the resolution! A fix to our `start_qemu.sh`script should be out in our next release.

[2018-06-19 17:40] ahkok commented on #87
@markgross We do appreciate these type of bug reports. Ultimately, we want this to be resolved so everyone can enjoy their systems in the way they want to.

[2018-06-19 17:47] bryteise commented on #100
@matthewrsj Do the post scripts get rerun after a verify --fix --picky? That's the only thing that jumps out to me as a possibility.

@Andy2244 Could you try wiping /var and rebooting as my shot in the dark?

[2018-06-19 17:48] bwarden commented on #39
Is there any useful information in dmesg or the journal? I wonder if there's an issue with the virtual device.

[2018-06-19 17:49] bryteise commented on #51
@bwarden Thoughts on the above?

[2018-06-19 17:49] matthewrsj commented on #100
Yes, post-scripts are run after a verify if --fix or --install are provided.

[2018-06-19 17:54] bryteise commented on #80
@Andy2244 Hrm does `export MC_DATADIR=/usr/share/mc` resolve this?

[2018-06-19 18:00] bryteise commented on #91
So I like that solution but I think we will want to measure the boot time impact of using the generator. Since these generators are a prerequisite of all units started by systemd, this solution will make everybody who has that generator on their system regardless of them having docker automatically start or not run this script.

[2018-06-19 18:31] pohly commented on #97
@bryteise has the issue really been resolved already or did you close accidentally?

@ahkok No, the host is Debian stable. The guest is Clear Linux. I'm not sure whether adding `-device virtio-rng-pci` alone is enough, I haven't tried that.

[2018-06-19 18:35] chivakker commented on #48
@omkhar saw you closed fdo bug.  Is this still a concern for you?  Are you using newer kernel, i.e. 4.17-x?

[2018-06-19 18:35] ahkok commented on #97
I always thought that rngd is something that needs to run on the `host` and not the `VM`.

[2018-06-19 18:36] josuedhg commented on #94
@ahkok we don't test suspend/resume at this moment and the power button functionality is working if I press it it go to suspend but if I press it again never returns

[2018-06-19 18:36] bryteise commented on #97
Well in the sense the change to our qemu start script has been modified. For a Clear Linux host this should be working. Not sure how much we can do with other systems not having rngd running.

[2018-06-19 18:42] pohly commented on #97
@ahkok no, rngd must be running on the VM. Without it, the kernel doesn't do anything with the new PCI device.

I've just tested it. Here's a 9 second delay *without* rngd:
[code]

And here the same *with* rngd:
[code]

Both tests with virtio-rng-pci and directly after powering up the VM.

@bryteise without modifying the image the issue hasn't been resolved.

[2018-06-19 18:51] ahkok commented on #97
then this needs to go into the images as a dependency.... thanks for clarifying.

[2018-06-19 18:55] bryteise commented on #97
@pohly Ah for some reason I thought we had that in our kvm images but I see it is only in the cryptography bundle at the moment.

[2018-06-19 19:07] omkhar commented on #48
No longer seeing the defect, please close. Will open if it reappears.

-oa

[2018-06-19 19:17] mythi commented on #91
True, and that's the part I don't like so much either. Another alternative I was thinking was a .service that has ```ConditionPathExists``` set to check kvm and that service just writes a config file ```docker.service``` uses in its ```EnvironmentFile```.

[2018-06-19 19:21] bwarden commented on #51
The aliases should work, but need to be in a file matching /etc/modprobe.d/*.conf (man modprobe.d).

The IPv6 driver does not need to be compiled as a module to support this; we just need to make sure that the aliases resolve to something invalid (e.g. "off") vs. not existing.

[2018-06-19 19:36] bryteise commented on #91
So what if the service did the following: Check if /etc/systemd/docker.service.d/50-runtime.conf exists, if it does do nothing. Then check if /dev/kvm exists and create the 50-runtime.conf file with the environment variable setting the runtime in it.

[2018-06-20 07:28] Andy2244 commented on #80
@bryteise yes, thanks

[2018-06-20 07:39] Andy2244 commented on #100
@bryteise Same problem after deleting /var and rebooting, any other ideas?

All i can see is this after the failed login try is:
[code]

[2018-06-20 07:46] Andy2244 commented on #39
@bwarden Forgot to check those sorry.

[2018-06-20 08:07] Andy2244 commented on #100
@bryteise Just hopped into the cockpit irc and a friendly dev quickly noted that the pam.d cockpit file is probably missing and thats the problem.

Seems after we closed the initial request https://github.com/clearlinux/clr-bundles/issues/25 the actual `/usr/share/pam.d/cockpit` file did not made it into the bundle.

Here is what you suggested the file to look like based on the fedora one, which s

[2018-06-20 08:37] mythi commented on #91
untested:
[code]

[2018-06-20 16:23] bktan8 opened #102 "Would like ability install Clear through KVM-over-IP"
Would like an installer that can work on IP-based KVMs.

[2018-06-20 16:53] ahkok commented on #102
Many of these support remote ISO media, which we just happen to publish an ISO installer image for. This was tested with HP iLO.

[2018-06-20 16:54] ahkok commented on #102
e.g.

https://download.clearlinux.org/releases/23160/clear/clear-23160-installer.iso.xz

[2018-06-20 16:56] ahkok commented on #100
Did you try putting the file in `/etc/pam.d/` and see if that works? This is where you should put locally created pam.d files.

[2018-06-20 17:03] phmccarty commented on #100
But if a `/usr/share/pam.d/cockpit` config *is* needed for cockpit, then we should probably install that file as part of the cockpit package, correct?

[2018-06-20 17:21] ahkok commented on #100
@phmccarty absolutely, I'm just checking that that works :)

[2018-06-20 17:22] ahkok commented on #97
This is good, but we should still be adding `rngd` to the bundles used in KVM images.

[2018-06-20 17:54] Andy2244 commented on #100
@ahkok Yes after creating the file under /usr/share/pam.d cockpit works again.

[2018-06-20 17:59] bryteise commented on #100
@Andy2244 Does it work if you put it under /etc/pam.d instead of /usr? (That way it won't get removed by verify --fix --picky). That said I'm adding the pam config to the distro, don't know how I ended up missing that, sorry X(.

[2018-06-20 19:34] rustylynch commented on #87
I just install the chrome rpm via:
sudo rpm -Uvh --force --nodeps path/to/the.rpm

...and pandora stations "just work".

Of course this means that you are on your own to ensure you always grab chrome updates, and if you forcefully reset to an older version then it will wipe out the browser installed via this dev trick

[2018-06-20 20:35] bryteise commented on #100
Updated cockpit package to include the pam config so hopefully this is a non issue for you in the next release.

[2018-06-20 20:55] bryteise commented on #97
We've made a change to our kvm kernel that should resolve this issue and that should be released tomorrow. Please re-open this issue if it isn't fixed.

[2018-06-20 20:55] #97 closed

[2018-06-21 07:31] Andy2244 commented on #100
@bryteise cool thanks again for the quick fix!

[2018-06-21 07:36] Andy2244 commented on #80
@bryteise I tried put this in a /etc/environment file so it stays persistent, this does not work, whats the right location?

[2018-06-21 07:47] Andy2244 commented on #51
@bwarden Thanks i tried this, but makes no difference, any other ideas?

/etc/modprobe.d/modprobe.conf
[code]

[2018-06-21 12:23] mythi opened #103 "update to kubernetes 1.11"
### What is the issue type?

* [ ] Bug report
* [x] Enhancement request

### Describe the problem

kubernetes 1.11 is about to be released. kubernetes in Clear is currently at 1.9.4 so the ask is to get 1.11 once it's out.

[2018-06-21 13:50] hunger commented on #94
I don't know whether WOL works, sorry. UEFI bios has that disabled.

[2018-06-21 14:13] hunger commented on #92
I can't mount a squashfs using clearlinux 23180.
Do I need some special bundle to enable this?

[2018-06-21 15:12] bwarden commented on #51
Hmmm. It quelled the modprobe messages on a quiescent system when I tried it under Hyper-V, but my environment doesn't currently allow internet access from that VM, so I didn't try anything with dockerd.

[2018-06-21 15:32] bryteise commented on #80
I'm going to see about patching mc so it looks in /usr/share/mc by default and can fall back to /etc/mc/ but I didn't to that yesterday.

[2018-06-21 18:48] bryteise commented on #98
Deprecation complete.

[2018-06-21 18:48] #98 closed

[2018-06-21 19:15] bryteise commented on #80
Update pushed, should be fixed in a release tomorrow.

[2018-06-21 19:17] bryteise commented on #92
Ah the tooling for managing squashfs was missing, this should be added in the next release.

[2018-06-21 23:05] bryteise commented on #91
So unfortunately these checks aren't enough since we might have docker without the cc-runtime. The configuration will need to move to the cc-runtime supporting package instead of docker.

[2018-06-22 05:28] hunger opened #104 "Squahfs: Support more compression methods"
Squashfs supports several compression methods on other distributions, but only gzip on clearlinux.

This prevents me from opening the squashfs images I want to mount.

Could more compression options get added, please?

[2018-06-22 08:21] hunger commented on #92
OK, found my issue: squashfs in clearlinux only supports gzip while my squashfs is built using lz4.
I opened #104 about that.

[2018-06-22 21:21] josuedhg commented on #94
this is not an issue with the power button, if u set a RTC timer to wake up the suspended system it is still not working, apparently it is an BIOS bug https://bugzilla.redhat.com/show_bug.cgi?id=1164937 for thinkpad machines, there is a work around that probably will be available in the next release.

[2018-06-23 01:48] fenrus75 commented on #104
just added lz4/lzo/zstd.

I'd suggest using zstd for all new images please

On Thu, Jun 21, 2018 at 10:28 PM Tobias Hunger <notifications@github.com>
wrote:

[2018-06-24 11:50] Andy2244 commented on #51
So no other ideas i can try, still getting around ~2000 log entries per day of this warning.

[2018-06-25 11:05] hunger commented on #104
Thanks!

I just tried mounting an existing image I have around using lz4 and that does not work in 23260 (using 4.17.2-586). The kernel still complains that lz4 is unsupported in the journal.

Do I need to do something special to enable this?

[2018-06-25 11:06] hunger commented on #94
Thanks!
Suspend/resume now work for me.

[2018-06-25 11:41] hunger opened #105 "[LVM] Clearlinux takes a long time to shut down"
### What is the issue type?

* [x] Bug report
* [ ] Enhancement request

### Describe the problem

Shutting down clearlinux takes a long time (about 1:30min) to power-off -- which smells like the usual systemd 90s timeout. It does not matter whether I use systemctl poweroff or the UI from the desktop bundle to trigger the shutdown, the time it takes stays the same.

Looking into the journal, there

[2018-06-25 13:35] fenrus75 commented on #104
so this is where I am going to have to admit to a typo. fixed that (blush)

On Mon, Jun 25, 2018 at 4:05 AM Tobias Hunger <notifications@github.com>
wrote:

[2018-06-25 16:27] bwarden commented on #51
Can you check your config by attempting to modprobe net-pf-10 manually? Just want to make sure you're getting e.g.:
[code]

and not:
[code]

[2018-06-25 17:28] bryteise commented on #91
Okay, everything is merged at the moment, we default to the cc-runtime until after we think the kata-runtime should be the default.

[2018-06-25 17:51] bryteise commented on #78
Ah so I think I found the issue, modemmanager is only in the desktop-dev bundle. Could you try and install that bundle (and maybe restart) and see if it starts working? I'll be adding it to the main desktop though.

[2018-06-25 18:58] #94 closed

[2018-06-26 08:11] Andy2244 commented on #51
@bwarden Yes, that's what i get:
[code]

[2018-06-26 08:47] omkhar commented on #52
further suggestions of loading the microcode in initrd from dmesg:

[code]

[2018-06-26 10:40] hunger commented on #104
No problem, I am great at adding typos to things, too.

When will the fix get released? It's been 21h since you claimed this to be fixed and I am still on 23260.

[2018-06-26 17:45] hunger commented on #104
Works now with version 23280. Thanks!

[2018-06-27 09:12] pohly commented on #85
The `sha512sum -c` command from https://clearlinux.org/documentation/clear-linux/get-started/bare-metal-install#verify-the-integrity-of-the-clear-linux-image also no longer works because the SHA512SUMS from release 23290 (current latest) contains an absolute path. It used to contain just the file name:
[code]

[2018-06-27 14:17] #104 closed

[2018-06-27 15:01] hunger commented on #78
I have such a modem to and am currently at 23290 with the 4.17.3 kernel that came with.
`/usr/bin/ModemManager` is available, the `cdc_mbim` module is loaded.
`nmcli r` shows WWAN-HW as enabled and WWAN as enabled.
Gnome does not show anything about the modem in the top-right menu.

`nm-connection-editor` let's me launch a wizard for a new Mobile broadband connection, but the process fails since t

[2018-06-27 15:57] alexjch commented on #85
A change to speed up the build caused the inclusion of the file path. We fixed the issue in the tree and this will be working as documented this afternoon after the late morning build goes out (any valid release version >= 23310 will work as documented)

[2018-06-27 16:14] bryteise commented on #78
Hrm looking at our networkmanager package I definitely see this as being disabled. Paging @AthenasJimenez @mrkz for packaging changes here.

[2018-06-28 13:50] mrkz commented on #37
Fixed. If notice more issues regarding `scan-view`, please do open a new issue with the proper description.

[2018-06-28 13:52] mrkz commented on #50
@rustylynch does stopping && disabling systemd-networkd helps somehow?

[2018-06-28 13:57] mrkz commented on #79
This is because we don't provide a proper MIME types database cache, we're working on fixing it while honoring our stateless policies, but in the meantime a workaround could be to run the following command:
[code]

[2018-06-28 15:08] iphutch commented on #37
Thanks @mrkz!

[2018-06-28 15:08] #37 closed

[2018-06-28 15:34] AthenasJimenez commented on #78
I made some changes on NetworkManager.spec adding new flags and removing the duplicated :P  You would see the changes on the next release.

Regarding to libnm-device-plugin-wwan.so and the rest of the libraries, you may find it on /usr/lib64/NetworkManager :)

[2018-06-28 16:09] rustylynch commented on #50
how should i disable systemd-networkd?

[2018-06-28 16:51] mythi commented on #103
1.11 is now released

[2018-06-28 17:18] iphutch commented on #103
@bryteise

[2018-06-28 17:19] puneetse commented on #98
@bryteise It looks like the image is still on the downloads page and in the README-IMAGE.html

https://cdn.download.clearlinux.org/image/

[2018-06-28 17:20] bryteise commented on #103
@DnPlas Would this be something you'd want to try and package too or would you prefer to stick closer to docker/kata-containers only?

[2018-06-28 17:35] bryteise commented on #98
Looks like this is being updated (or updated as we speak). Thanks for double checking!

[2018-06-28 18:07] AthenasJimenez commented on #103
Updated. Should be available on next release.

[2018-06-28 20:07] DnPlas commented on #103
@bryteise sure thing, I can give it a look and try it :)

[2018-06-28 20:35] bryteise commented on #103
@AthenasJimenez is too fast! I somehow thought there might have been more to fixup for k8s instead of it being a normal autospec and release X(. Thanks much all!

[2018-06-28 20:35] #103 closed

[2018-06-29 00:12] mpurzynski opened #106 "Systemd ignores system-wide environment variables"
I'm trying to define a couple of environment variables

http_proxy="http://hostname.domain:3128"
https_proxy="http://hostname.domain:3128"
no_proxy="localhost,127.0.0.1,localaddress,.localdomain.com, 1.2.3.4/24, *.domain.name, *.domain2.name, 169.$
HTTP_PROXY="http://hostname.domain:3128"
HTTPS_PROXY="http://hostname.domain:3128"
NO_PROXY="localhost,127.0.0.1,localaddress,.localdomain.com, 1.2.3.4

[2018-06-29 00:50] mpurzynski commented on #106
After further debugging, looks like systemd does not export variables to the current shell

1. variables. defined with system-environment-generators are visible only with

systemctl --system show-environment

2. variables generated with user-environment-generators are visible only with

systemctl --user show-environment

3. running just 'export' shows none of them

[2018-06-29 10:34] miguelinux commented on #106
Have you tried to place your script at `/etc/profile.d/` directory?
or define your variables in `/etc/profile` file?

[2018-06-29 15:48] FoxBuru opened #107 "Flatpak unable to run correctly."
### What is the issue type?

* [X] Bug report
* [ ] Enhancement request

### Describe the problem

Flatpak is unable to run. The file /usr/share/dbus-1/system.d/org.freedesktop.Flatpak.SystemHelper.conf doesn't exists. This helper is used during the escalation privileges phase to be able to run install/update/remote-add as a normal user, asking for credentials dynamically if needed using polkit. A

[2018-06-29 19:13] rustylynch commented on #50
Ok, I removed the following systemd files:
/usr/lib/systemd/system/multi-user.target.wants/systemd-networkd.service
/usr/lib/systemd/system/systemd-networkd-wait-online.service
/usr/lib/systemd/system/systemd-networkd.service
/usr/lib/systemd/system/systemd-networkd.socket

... and rebooted my laptop early this morning.  My wifi has been working fine all day, and when I look into the logs I can se

[2018-06-29 22:17] bktan8 opened #108 "Would like to have "mokutil" included into Clear"
https://github.com/lcp/mokutil

[2018-06-29 23:08] mrkz commented on #107
will look into it.

[2018-06-29 23:32] bktan8 commented on #108
Disregard for now.

[2018-06-29 23:32] #108 closed

[2018-06-30 08:47] hunger opened #109 "Can not open files in flatpaks"
I can not open files on the host system using flatpaks. E.g. org.keepassxc.KeePassXC can not open a database file. Trying to do so does not even show a file dialog.

KeePassXC is a Qt application, so that might actually be an integration issue with Qt and flatpak.

[2018-06-30 18:05] hunger commented on #78
Thanks! I'll try to test that over the weekend!
And yes, I do feel a bit stupid for missing /usr/lib64/NetworkManager! :-)

[2018-07-01 09:45] Vistaus opened #110 "[Packaging Request] TDE"
### What is the issue type?

* [ ] Bug report
* [x] Enhancement request

### Describe the problem

It would be great if Trinity Desktop Environment (TDE) could be included in Clear Linux. If it gets included, I'll switch to Clear Linux.

Website: http://trinitydesktop.org

[2018-07-01 10:35] hunger opened #111 "Blank screen with mouse pointer after reboot"
I just rebooted my clearlinux installation after upgrading to 23370 (with desktop bundle).

The system comes up and I see the mouse pointer I expect from the graphical login. But the screen stays black and there is no input field or any other UI showing up. I can move the mouse pointer though.

I can switch to a different console and log in there, but I have a rectangle of random pixels in the upp

[2018-07-01 10:48] hunger commented on #78
There probably was progress: It seems like some ModemManager-related code is now showing up in gnome-shell. Please see #111 for details.

I was unable to test due to that issues:-(

[2018-07-01 15:12] fenrus75 commented on #111
thanks for the great picture; with it I found that the MM version update
changed in.. interesting.. ways and needed a bit of attention to make sure
the gir/typelib of it gets shipped properly.
23410 or later should have it (I'll try to kick that off later today,
probably in a few hours)

On Sun, Jul 1, 2018 at 3:35 AM Tobias Hunger <notifications@github.com>
wrote:

[2018-07-01 15:13] fenrus75 commented on #110
hmm the last release was in 2016.. that's... concerning. Do you know if
there is active development happening?

On Sun, Jul 1, 2018 at 2:45 AM Heimen Stoffels <notifications@github.com>
wrote:

[2018-07-01 15:16] Vistaus commented on #110
Yes, as you can see in the commit history, there is very active development :)
https://trinitydesktop.org/patches/
If you want, you could also package it from the latest git master or something, that's what Q4OS (the only distribution to use TDE by default) has done in the last release.

[2018-07-01 15:59] thiagomacieira commented on #110
Sorry, I don't think we can. It looks like Trinity installs binaries with the same names as the standard applications from KDE does. At least that's what I see in <https://build.opensuse.org/package/view_file/home:PunisherHD:Trinity:stable/k3b/k3b-14.0.4.spec?expand=1>. How do other distributions handle this, as some are quite strict about never installing anything in a prefix other than /usr? Can

[2018-07-02 08:57] Vistaus commented on #110
Qt 3 has seen minor commits by the TDE Team because:

1 It's rock solid already.
2 A Qt 4 port of TDE is under development, which will open up the way for a Qt 5/6 port eventually.

TDE itself sees active development, they also added support for modern things like screen brightness buttons on laptops and other modern stuff in git master last year. Could it have more active development? Sure. But t

[2018-07-02 15:13] thiagomacieira commented on #110
Take it from someone whose job has been to fix everything that was wrong with Qt 3 for the past 15 years: no, it's not rock solid. Just for starters, the `QStrings` are not thread-safe and the containers are using early 1990s technology you'd see in a C framework, not a proper C++ one.

In any case, the lack of there being official packages in other distributions pretty much seals this one. We tak

[2018-07-02 17:47] #110 closed

[2018-07-02 17:51] hunger commented on #111
When will the fix become available? My laptop is currently almost unusable due to this issue.

[2018-07-02 17:59] ahkok commented on #107
I've added this file, and updated flatpak to 0.99.2. Once this updates, please test and let us know if there are any additional issues. The fix should be available 7/3.

[2018-07-02 17:59] #107 closed

[2018-07-02 18:02] ahkok commented on #111
Usually bug fixes are available in normal updates within 24h.

[2018-07-02 18:17] FoxBuru opened #112 "Additional support for printers"
### What is the issue type?

* [ ] Bug report
* [X] Enhancement request

### Describe the problem

It'd be great if clearlinux could add some extra cups filters (like Gutenprint or Foomatic, for example). Right now if you need to print you have to do a very obscure procedure to make it work, or hope that your printer supports any kind of USB printing / Web Printing.

[2018-07-02 18:18] ahkok commented on #109
This looks like an upstream issue. The Qt libraries bundled with this flatpak are not the clearlinux Qt/KDE files, but the flathub KDE platform components'.

[2018-07-02 18:31] ahkok commented on #79
[code]

This is something we can do in a post-update trigger. Care should be taken to make sure that files are not written to `/usr` but instead go into `/var`.

[2018-07-02 19:16] hunger commented on #111
@ahkok: Just asking since I have been on 23370 for a while now and that still seems to be current:-(

[2018-07-02 19:29] ahkok commented on #111
Yes, the update that was generated early this morning had errors, so normally this would have already been fixed and available to you. We'll hopefully have an update out later today, though.

[2018-07-02 20:00] mpurzynski commented on #106
We have a design problem here.

1. one needs to write 'generators' to export a simple variable

2. even doing 1. does not do anything good, because that variable will only be exported to systemd itself (and nowhere else)

3. systemd authors claim this is not a bug, it is a feature. I disagree. They demand every application modify or add some code, to import variables from systemd

4. the behavior

[2018-07-02 20:04] mpurzynski commented on #106
Exporting variables in /etc/profile works for ssh, su, sudo.

Doing so does NOT export anything to systemd - so services won't see those variables.

One needs to export the same set of variables for systemd, either as generators (systemd-wide but not system-wide), or per service and also for interactive environments, with /etc/profile

Can we have this systemd design bug documented?

[2018-07-02 21:58] gtkramer opened #113 "Consolidate OVMF.fd versions"
### What is the issue type?

* [ ] Bug report
* [ x ] Enhancement request

### Describe the problem

There are three different versions of OVMF.fd that are published in various locations:
- The copy on https://download.clearlinux.org/image/OVMF.fd .
- The copy in https://github.com/clearlinux/how-to-clear/blob/master/files/qemu/OVMF.fd
- The copy installed by the edk2 package in /usr/share/qemu/OV

[2018-07-02 22:01] phmccarty commented on #113
Just to clarify, the OVMF.fd in the current edk2 package is identical to the one from https://github.com/clearlinux/common. But you're right that there are three different copies.

I agree that consolidation is needed.

[2018-07-02 22:18] ahkok commented on #106
that would be an upstream thing.

[2018-07-02 22:30] ahkok commented on #113
[code]

[2018-07-02 22:31] ahkok commented on #113
I can push an update into how-to-clear, but I'd like to know for sure first, which is the right one?!

[2018-07-03 17:37] hunger commented on #111
Still no update:-(

[2018-07-03 17:41] fenrus75 commented on #111
450 got out 5 minutes ago

On Tue, Jul 3, 2018 at 10:37 AM Tobias Hunger <notifications@github.com>
wrote:

[2018-07-03 18:41] ahkok commented on #111
(verified this was with 450)

[2018-07-03 18:46] hunger commented on #111
Yes, saw it right after complaining about the missing update:-(

23450 fixes the issue for me.

A huge THANK YOU from me!

[2018-07-03 19:19] KestutisMa commented on #111
Strange, because it doesn't fix for me. But workaround is to use gnome-flashback, just "startx".
log: https://pastebin.com/zFDXCaUJ
screenshot https://photos.app.goo.gl/q87CLJ4cL1iaNuyo8
also "poweroff" and "reboot" shell commands don't work

[2018-07-03 19:40] hunger commented on #111
That image is not the behavior I got: I had a black screen with the mouse pointer and nothing else. You got a different bug than me.

My bug is fixed. Go file a different issue to track yours.

[2018-07-03 19:43] hunger opened #114 "USB device is constantly appearing/disappearing"
### What is the issue type?

* [x] Bug report
* [ ] Enhancement request

### Describe the problem

I constantly get these messages in my journal:
[code]

Rinse and repeat... every ~5s or so.

Vendor is Intel, so you are in a great position to figure out what is causing this:-)

Clearlinux version is 23450.

[2018-07-03 20:00] KestutisMa commented on #111
I had mouse over black screen before, but after update to 23450 I have this.

[2018-07-03 20:03] hunger commented on #78
#111 is fixed in 23450, but the modem still does not work.

The kernel modules are loaded.

ModemManager is active and org.freedesktoo.ModemManager1 is visible on the system bus and d-feet lists it as "activatable".

Trying to interact with that service raises an DBus exception (AccessDenied).

Trying the "reload" button freezes d-feet for about one minute.

This is the only service on the system

[2018-07-03 20:11] hunger commented on #78
`nmcli r` lists WWAN as enabled.
`nmcli d` does *not* list the modem, just loopback, wifi and ethernet.
Straight `nmcli` does not mention anything about Sierra anymore.

[2018-07-03 20:19] hunger commented on #78
The journal contains no smoking gun AFAICT:

There are several lines about d-feet being rejected by now:
```dbus-daemon[521]: [system] Rejected send message, 1 matched rules; type="method_call", sender=":1.420" (uid=1000 pid=3325 comm="/usr/bin/python /app/bin/d-feet ") interface="org.freedesktop.DBus.Introspectable" member="Introspect" error name="(unset)" requested_reply="0" destination="org.fre

[2018-07-04 04:23] deepankarsharma opened #115 "Add clang-tidy"
We use GitHub issues for bug reports and enhancement requests.
If you have a troubleshooting issue or have questions, please write to our
mailing list: dev@lists.clearlinux.org. You can also find helpful folks on our
IRC channel: #clearlinux on irc.freenode.net.

------------------------

### What is the issue type?

* [ ] Bug report
* [X] Enhancement request

### Describe the problem

Would like

[2018-07-04 04:24] deepankarsharma opened #116 "Add lld"
### What is the issue type?

* [ ] Bug report
* [X] Enhancement request

### Describe the problem

Please include the lld linker in c-basic bundle.

[2018-07-04 14:45] #111 closed

[2018-07-04 15:18] mrkz commented on #50
@rustylynch there's no need to `rm` the files on /usr/lib (as a later swud update/fix will bring those back).

you may want to disable the `systemd-networkd` service/socket by masking them
[code]

This will effectively disable the services while keeping the files in place.

[2018-07-05 15:41] josuedhg commented on #79
this is working in release 23500

[2018-07-05 16:20] #79 closed

[2018-07-05 16:21] sirredbeard commented on #79
Thank you.

[2018-07-05 16:58] hunger commented on #78
No change in 23510.

[2018-07-05 17:00] hunger commented on #109
I do not think that this is an issue with the flatpak: They *do* work on fine on my machine if I boot into a different Linux version.

[2018-07-06 13:40] fenrus75 commented on #116
release 23530  should have this

[2018-07-06 13:40] fenrus75 commented on #115
release 23530 (entering QA now) should have this

[2018-07-06 13:40] fenrus75 commented on #112
Gutenprint should be in the current releases

[2018-07-06 18:50] josuedhg commented on #75
this most be fixed in the next release

[2018-07-09 11:10] Andy2244 opened #117 "incompatible 'time' and missing 'gtime'?"
### What is the issue type?

[* ] Bug report
[* ] Enhancement request

### Describe the problem

Trying again to switch from Ubuntu to ClearLinux to compile openwrt, unfortunately one of the first errors i get is: `Build dependency: Please install GNU 'time' or BusyBox 'time'`

based on:
[code]

`time --version` = bash time has no --version option
`gtime` and `busybox `= no bundle exists containin

[2018-07-09 11:41] Andy2244 opened #118 "[Enhancement] 'make' bash completion missing"
### What is the issue type?
[* ] Enhancement request

### Describe the problem

While trying to switch from Ubuntu to ClearLinux i noticed that make auto-completion is not working, something like `make m->` = `make menuconfig` or `make def->` = `make defconfig`

Would be nice to have those, similar to ubuntu.

[2018-07-09 11:55] Andy2244 commented on #117
Manually compiling gnu-time from [ftp.gnu.org](https://ftp.gnu.org/gnu/time/time-1.9.tar.gz) and putting it as `/usr/bin/gtime` seems to fix this issue.

[2018-07-09 13:41] fenrus75 commented on #117
time is also a bash builtin which is likely what you get. We do have
/usr/bin/time in one bundle

Bundle os-testsuite-phoronix    [installed]     (18551 MB on system)
        /usr/bin/time

but that's a large one. suggestions for other places to put it welcome

On Mon, Jul 9, 2018 at 4:10 AM Andy Walsh <notifications@github.com> wrote:

[2018-07-09 13:43] fenrus75 commented on #118
this is odd, since tihs works for me, make m<tab> expands.to options
(listing choices if there are multiple etc)

or did you mean some other type of autocomplete?

On Mon, Jul 9, 2018 at 4:41 AM Andy Walsh <notifications@github.com> wrote:

[2018-07-09 13:53] Andy2244 commented on #118
What i mean is that if i use the openwrt sdk as example:
`git clone https://git.openwrt.org/openwrt/openwrt.git`

Under Ubuntu i can switch into the openwrt directory and type `make m<tab>`, which gets expanded to `make menuconfig`, same thing with `make d<tab>` = `make defconfig`.
If i compare what `make <tab>` lists on Ubuntu vs ClearLinux, it seems under ClearLinux only files, folders are know,

[2018-07-09 14:11] fenrus75 commented on #118
so this works for me. going to check which bundles this is in

On Mon, Jul 9, 2018 at 6:53 AM Andy Walsh <notifications@github.com> wrote:

[2018-07-09 17:53] iphutch commented on #82
@bwarden has this bug been seen to now? can we close?

[2018-07-09 17:55] bwarden commented on #82
I have not seen it since.

[2018-07-09 17:56] #82 closed

[2018-07-09 18:04] iphutch commented on #85
Closing as docs PR was merged

[2018-07-09 18:04] #85 closed

[2018-07-09 21:35] ahkok commented on #117
I'll add `/usr/bin/time` to `sysadmin-basic` bundle, which isn't that large.

[2018-07-09 21:41] ahkok commented on #117
I'd almost suggest filing a feature request instead to bundle `openwrt` entirely in clearlinux already, given its wide use.

[2018-07-09 21:46] Andy2244 commented on #117
What do you mean by "bundle openwrt" ? I just want a working dev-platform to compile/build it from source and these days ClearLinux us my choice for doing some light linux stuff in a VM.

[2018-07-09 21:46] ahkok commented on #117
I put `/usr/bin/time` into `performance-tools` and `sysadmin-basic` bundles, so hopefully in a day or so that will be released and available. Please do consider making a separate request for `openwrt`!

[2018-07-09 21:49] ahkok commented on #118
[code]

[2018-07-09 21:54] #116 closed

[2018-07-09 21:54] Andy2244 commented on #118
@ahkok ok thanks works now, was assuming these come with the same bundle that adds make etc. (c-basic)?

[2018-07-09 21:54] #118 closed

[2018-07-09 21:55] ahkok commented on #116
bundle: dev-utils, c-basic, and performance-tools have `/usr/bin/lld`

[2018-07-09 21:55] ahkok commented on #115
bundles: dev-utils, c-basic

[2018-07-09 21:58] ahkok commented on #109
can you run `flatpak list` ? Qt is provided by the `org.kde.Platform` flatpak, and not by the OS. So you're potentially running into issues with that flatpak.

[2018-07-09 22:03] ahkok commented on #118
we could do that, but it would be a lot of work since those all come from one package. By default, we don't install the `shells` bundle, which is how you ran into this issue. Ideally maybe we add `shells` as a dependency of `dev-utils` bundle, perhaps.

[2018-07-10 17:21] AthenasJimenez commented on #48
Closing: No longer seeing.

[2018-07-10 17:21] #48 closed

[2018-07-10 17:35] AthenasJimenez commented on #1
@bswinnerton GlusterFS is now available in storage-cluster bundle, may I close this issue?

[2018-07-10 17:49] bwarden commented on #17
I was able to take a first look at this today. Currently, Wireguard's kernel module is still out-of-tree, but the project is working to upstream it. We'll have to consider whether it makes more sense to carry it as patches against our kernel package, or wait for it to be available upstream.

[2018-07-10 17:51] ahkok commented on #117
@Andy2244 with `bundle openwrt` I meant have clearlinux offer (include) `openwrt` as a bundle that can just be installed (with `swupd`), without having the need to compile it.

[2018-07-10 17:56] ahkok commented on #114
I've noticed several USB disconnects as well, but attributed it to using a HUB in my monitor. Are you plugging directly into the PC, or a HUB?

[2018-07-10 18:41] cmarcelo opened #119 "valgrind not detecting simple leak with malloc"
Compiling the following program in Clear Linux, then running valgrind show no memory leaks. Double checked in Fedora and as expected there it shows the memory leaks.

[code]

For the record, the compilation attempts:

[code]

And the valgrind result in Clear:
[code]

And the output with -v:

[code]

One (wild) guess would be that there is something mismatch between the glibc version and the suppre

[2018-07-10 18:55] iphutch commented on #1
Thanks @AthenasJimenez !

[2018-07-10 18:55] #1 closed

[2018-07-10 20:15] Andy2244 commented on #117
@ahkok mhh i think we have some miscommunication here, openwrt itself is a linux distro mainly for router and embedded devices. So what would be the point bundling it?

PS: I actually only work with the openwrt sdk, since i'm the maintainer of a hopefully soon to-be merged samba-4.8 package, to replace the older samba36. I use ClearLinux as host to crosscompile for other targets (arm, mips), which

[2018-07-11 04:56] phmccarty commented on #56
I spent more time debugging this issue last week, and my current suspicion is that libdnf is to blame, since the value failing to be cast to a UTF-8 encoded string originates from hawkey, which is part of libdnf.

Much of the libdnf data originates from libsolv though. I am still slightly suspicious of libsolv, since it's a dependency of libdnf, and it's possible that libdnf could be passing along

[2018-07-11 14:34] Andy2244 commented on #117
oki time is now picked up by the sdk on the latest clearlinux versions.
Maybe add a softlink to `gtime`, since the script also tests for this name:
`gtime --version 2>&1 | grep GNU, \`

I also notice that the new bundled version gives a "unknown" version, while my own manual compiled showed "1.9", whats up with this?

[2018-07-11 22:02] bwarden opened #120 "Sans-serif fonts rendered incorrectly in FLTK applications"
### What is the issue type?

* [X] Bug report
* [ ] Enhancement request

### Describe the problem

Sans-serif font selected by FLTK apps (e.g. fldigi, flmsg, flnet) is incorrectly rendered. Specifically, the characters are monospaced with large gaps between them. This is evident in the menu bar.

It seems to be an issue with rendering the Clear Sans font that is the default sans-serif font in Clea

[2018-07-12 06:53] hunger commented on #114
It's a laptop with nothing plugged into any of the user-accesible ports.

[2018-07-12 06:56] hunger commented on #109
As I said: The same set if flatpaks work on other distributions.

I even installed all of them in clearlinux and mounted /var/lib/flatpak from clearlinux into the other distribution.

It does not work in clearlinux but does work in the other.

So I doubt that this is a problem in the flatpaks.

[2018-07-12 06:57] hunger commented on #109
All the flatpaks are listed the same on both distributions.

[2018-07-12 14:47] AthenasJimenez commented on #109
I tried this out as well using Fedora and Clear Linux, on Clear is not working as expected. I would dig a little more and try to fix this. For now, the only work around I can recommend is running KeePassXC with sudo, that's how I make it works.

sudo -E flatpak run org.keepassxc.KeePassXC

[2018-07-12 17:57] mbelluzzo commented on #119
I was able to reproduce this in my NUC running Clear 23610

[2018-07-12 19:07] lpereira commented on #119
Running Valgrind with `--default-suppressions=no` makes no difference.

[2018-07-12 19:57] superm1 commented on #59
FWIW fwupdate was merged into fwupd with the [recent 1.1.0](https://github.com/hughsie/fwupd/releases/tag/1.1.0) release.  No need to support fwupdate separately.

[2018-07-12 20:06] puneetse opened #121 "Syslogging solution"
### What is the issue type?

* [ ] Bug report
* [x] Enhancement request

### Describe the problem
Offer a package/bundle for a centralized logging solution (rsyslog, syslog-ng, etc) of multiple clear linux hosts. This is a commonly used in datacenter environments.

There are logging and shipping capabilities in systemd too :
https://github.com/systemd/systemd-netlogd
https://github.com/systemd/sys

[2018-07-13 01:20] kristjanbb opened #122 "Disabling nmi_watchdog when not available fails leaving systemd in degraded state."
### What is the issue type?

* [x] Bug report
* [ ] Enhancement request

### Describe the problem

On virtual systems such as VMware ESXi were `nmi_watchdog` is not available disabling it by writing 0 to `/proc/sys/kernel/nmi_watchdog` in `/usr/lib/tmpfiles.d/clr-power-tweaks.conf` will fail with 524 (ENOTSUPP) causing `systemd-tmpfiles-setup.service` and the periodic `tmpfiles-trigger.service` to

[2018-07-13 01:56] fenrus75 commented on #122
fair enough.. fixing it now and it'll be in the next build

On Thu, Jul 12, 2018 at 6:20 PM kristjanbb <notifications@github.com> wrote:

[2018-07-13 23:00] AthenasJimenez commented on #16
@omkhar, already enable systemd services on OpenVPN.

You can finde them as openvpn-client@.service and openvpn-server@.service

[2018-07-16 05:18] MRustad opened #123 "Install surprisingly destroys partition"
### What is the issue type?

* [X] Bug report
* [ ] Enhancement request

### Describe the problem

I installed onto a bare metal machine. I had a number of partitions and had intended to have Clear Linux format only the root filesystem. When it asked me for a /boot partition, I was kind of surprised, so I gave it my /extra partition to use for that purpose. I figured I would sort it out later. I d

[2018-07-16 20:36] VictorRodriguez commented on #119
I was able to reproduce, working on debug , track and fixing

[2018-07-17 11:37] rakuco commented on #56
Thank you for taking care of this!

[2018-07-17 15:39] #56 closed

[2018-07-17 17:14] jairglez opened #124 "WebKit applications show overlapped or misaligned text with HTML content"
### What is the issue type?

* [X] Bug report
* [ ] Enhancement request

### Describe the problem

Text in HTML content is displayed overlapped or misaligned in some WebKit applications. Two examples are the GNOME Help and Evolution applications. One exception is Firefox. Tested on Clear Linux 23730.

GNOME Help example:
![gnome help overlapped text](https://user-images.githubusercontent.com/23246

[2018-07-17 17:23] bryteise commented on #123
Could you add the steps you went through to install? Was this a manual setup of the disk?

[2018-07-17 17:33] #112 closed

[2018-07-17 17:39] #122 closed

[2018-07-17 17:41] iphutch commented on #121
We are planning to add this. Looking at rsyslog. We've tested the systemd remote logging but it's not quite there yet.

[2018-07-17 17:44] nesiusra commented on #119
How goes root-causing this, @VictorRodriguez?   I'm wondering if this is a valgrind bug, or a result of our compiler/linker toolchain detecting and preventing the leak...

[2018-07-17 17:46] iphutch commented on #120
@mrkz should we have a different default sans-serif font?

[2018-07-17 17:49] nesiusra commented on #117
Confirming the version is not reported correctly...

$ /usr/bin/time --version
time (GNU Time) UNKNOWN
...

[2018-07-17 17:50] phmccarty commented on #119
Valgrind memcheck is not reporting any allocations at all, let alone leaks. So this looks like either a valgrind bug or (more likely) a bug in the way valgrind is integrated in Clear Linux.

[2018-07-17 17:57] nesiusra commented on #114
This looks relevant? Default UDEV rule handling devices as MTP devices when it shouldn't be?

https://superuser.com/questions/1206664/disable-mtp-udev-rules-for-specific-device-so-it-can-be-mount-as-a-usb-mass-stor

[2018-07-17 17:58] lpereira commented on #119
I suspect that the first step would be seeing if Valgrind is actually able to hook into the malloc symbols. The same behavior happens when you're running memcheck with a static binary, or you're linking with a shared library that overrides all the malloc symbols (e.g. tcmalloc, jemalloc, etc.); none of which are the case here.

A curious thing that might or might not be related is that binaries bu

[2018-07-17 17:58] iphutch commented on #105
@ahkok @bwarden

[2018-07-17 17:59] #95 closed

[2018-07-17 18:35] bryteise commented on #117
Updating time fixes the unknown version.

On Tue, Jul 17, 2018 at 10:49 AM, Robert Nesius <notifications@github.com>
wrote:

[2018-07-17 19:07] VictorRodriguez commented on #119
So far this is my update:

testing code examples [examples] (https://github.com/VictorRodriguez/operating-systems-lecture/tree/master/labs/gcc/valgrind)

binary with leaks

Running in CLR , Compiled in CLR = FAIL ( do not detect mem leaks )
Running in Fedora , Compiled in CLR = PASS ( detect mem leaks )
Running in CLR , Compiled in Fedora = FAIL ( do not detect mem leaks )
Running in Fedora , Comp

[2018-07-17 21:47] ahkok commented on #121
rsyslog and journal can safely live side-by-side, so this would likely be an optional bundle you can just install. Shouldn't be too complex to add.

[2018-07-17 21:48] ahkok commented on #121
journald-remote is currently semi-disabled in our systemd packaging.

[2018-07-17 21:57] VictorRodriguez commented on #119
Under CLR system as @phmccarty  mention the major problem is that we are not reporting any allocation at all:
#include <stdio.h>
#include <stdlib.h>

int main(){
	malloc(100);
	return 0;
}

will show in Fedora :

==18711== HEAP SUMMARY:
==18711==     in use at exit: 100 bytes in 1 blocks
==18711==   total heap usage: 1 allocs, 0 frees, 100 bytes alloca

and in CLR :

==16761== HEAP SUMMARY:
==1676

[2018-07-17 22:47] #16 closed

[2018-07-18 05:32] MRustad commented on #123
On Jul 17, 2018, at 10:23 AM, William Douglas <notifications@github.com>
wrote:

Yes, it was a manual install, because I wanted to preserve a number of
partitions. I had expected to format only / and swap. I was not expecting
the /boot it requested to be formatted.

Fortunately it wasn't a disaster, but I wasn't happy about it. I thought I
should try Clear Linux since I work at Intel. One thing is

[2018-07-18 16:02] gtkramer commented on #113
I think we should be using the one distributed in Clear from the edk2 package.  A couple of folks have expressed interest in updating the external copy of OVMF.fd on download.clearlinux.org with the one from in Clear as well.

[2018-07-18 16:49] #75 closed

[2018-07-18 18:42] bryteise commented on #123
So I'm not able to reproduce the formatting of the boot partition if it wasn't set to be formatted previously. I see it creating two folders EFI and loader. The partitions content and type are otherwise left alone.

Clear does need an EFI boot partition for Clear Linux which can be shared between distributions though Clear will add systemd-boot content which could conflict with other distros as fa

[2018-07-19 02:29] VictorRodriguez commented on #119
Fix FOUND :)
based on https://bugs.kde.org/show_bug.cgi?id=395682
As soon as the patch is merged and test corroborate fix, i will upload on what clr version is fixed and close the bug

[2018-07-19 05:41] nesiusra commented on #119
Thanks, Victor.

[2018-07-19 09:07] Andy2244 commented on #117
@bryteise Thanks, sdk builds fine now, without any extra changes.

[2018-07-19 09:07] #117 closed

[2018-07-19 14:39] bryteise commented on #117
Yay!

[2018-07-19 19:53] nesiusra commented on #114
@ahkok your thoughts?

[2018-07-19 22:38] VictorRodriguez commented on #119
@cmarcelo could you please check that version 23830 works fine and close this issue?

[2018-07-20 17:33] #119 closed

[2018-07-20 17:49] cmarcelo commented on #119
Confirmed it works. Thanks!

[2018-07-20 18:38] AthenasJimenez commented on #109
Issue fixed on release 23840.

[2018-07-20 18:38] #109 closed

[2018-07-20 19:05] ahkok commented on #109
For reference, the fix was:

https://github.com/clearlinux-pkgs/xdg-desktop-portal/commit/b633b5e74f1b0e3a91136978d0c64f5c1506a078